<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="CmsSkins">

	<resultMap id="CmsSkinsResult" type="cn.mmbook.platform.model.tag.CmsSkins">
              <result property="id" column="ID_" />				
              <result property="versionId" column="VERSION_ID_" />				
              <result property="skinName" column="SKIN_NAME_" />				
              <result property="skinDir" column="SKIN_DIR_" />
              <result property="isdefault" column="ISDEFAULT_" />
	</resultMap>
	<resultMap id="CmsSkinsAndVersionResult" type="cn.mmbook.platform.model.tag.CmsSkins">
              <result property="id" column="ID_" />				
              <result property="versionId" column="VERSION_ID_" />				
              <result property="skinName" column="SKIN_NAME_" />				
              <result property="skinDir" column="SKIN_DIR_" />
              <result property="isdefault" column="ISDEFAULT_" />
              <association property="cmsVersion" column="CmsVersion_ID"  resultMap="CmsVersionResult"/>
	</resultMap>
	<resultMap id="CmsVersionResult" type="cn.mmbook.platform.model.tag.CmsVersion">
              <result property="id" column="cmsVersion_ID_" />				
              <result property="versionName" column="VERSION_NAME_" />				
              <result property="versionDir" column="VERSION_DIR_" />				
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="cmsSkinsColumns">
	    <![CDATA[
        	id_ AS id,
        	version_id_ AS versionId,
        	skin_name_ AS skinName,
        	skin_dir_ AS skinDir,
        	ISDEFAULT_ AS isdefault
	    ]]>
	</sql>
	
	<sql id="cmsSkinsAndVersionColumns">
	    <![CDATA[
        	t1.id_ AS id,
        	t1.version_id_ AS versionId,
        	t1.skin_name_ AS skinName,
        	t1.skin_dir_ AS skinDir,
        	t1.ISDEFAULT_ AS isdefault,
        	t2.id_ AS cmsVersion_ID_,
        	t2.version_name_ AS versionName,
        	t2.version_dir_ AS versionDir
	    ]]>
	</sql>
		
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.tag.CmsSkins" >
        INSERT INTO
        tc_skins_info (
        	id_ ,
        	version_id_ ,
        	skin_name_ ,
        	skin_dir_,
        	ISDEFAULT_
        ) VALUES (
        	#{id,jdbcType=VARCHAR} ,
        	#{versionId,jdbcType=VARCHAR} ,
        	#{skinName,jdbcType=VARCHAR} ,
        	#{skinDir,jdbcType=VARCHAR},
        	#{isdefault,jdbcType=VARCHAR}
        	
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.tag.CmsSkins">

        UPDATE tc_skins_info SET
	        <if test="@Ognl@isNotEmpty(versionId)">
				version_id_ = #{versionId,jdbcType=VARCHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(skinName)">
				skin_name_ = #{skinName,jdbcType=VARCHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(skinDir)">
				skin_dir_ = #{skinDir,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(isdefault)">
				ISDEFAULT_ = #{isdefault,jdbcType=VARCHAR},
			</if>
			id_ = #{id,jdbcType=VARCHAR}
        WHERE 
	        id_ = #{id} 
 
	</update>
	
	<update id="updateDefult" parameterType="cn.mmbook.platform.model.tag.CmsSkins" >
    <![CDATA[
        UPDATE tc_skins_info SET  ISDEFAULT_ = 0 where version_id_ = #{versionId} and id_ <> #{id} 
    ]]>
	</update>


    <delete id="delete" parameterType="java.lang.String">
    <![CDATA[
        DELETE FROM tc_skins_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.String" resultMap="CmsSkinsResult">
		SELECT <include refid="cmsSkinsColumns" />
	    <![CDATA[
		    FROM tc_skins_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
	
	<sql id="cmsSkinsDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND version_id_ = #{versionId}
			</if>
	       <if test="@Ognl@isNotEmpty(skinName)">
	            AND skin_name_ like '%${skinName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(skinDir)">
				AND skin_dir_ like '%${skinDir}%'
			</if>
	       <if test="@Ognl@isNotEmpty(isdefault)">
				AND ISDEFAULT_ = #{isdefault}
			</if>
		</where>
	</sql>
		 
    <select id="pageSelect" resultMap="CmsSkinsAndVersionResult">
    	SELECT
    	  <include refid="cmsSkinsAndVersionColumns" />
	       FROM tc_skins_info t1 , tc_version_info t2
	   		where t2.id_=t1.version_id_ 
		<include refid="cmsNewWhere"/>
		<choose>
			<when test="@Ognl@isNotEmpty(sortColumns)">
			   ORDER BY t1.${sortColumns}
			</when>
			<otherwise>
			  ORDER BY to_number(t1.id_) DESC
			</otherwise>
	   </choose>
    </select>
    
    <select id="count" resultType="long">
    	SELECT count(1)
	       FROM tc_skins_info t1 , tc_version_info t2
	   		where t2.id_=t1.version_id_ 
		<include refid="cmsNewWhere"/>
    </select>
 
	<sql id="cmsNewWhere">
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND t1.version_id_ = #{versionId}
			</if>
	       <if test="@Ognl@isNotEmpty(skinName)">
	            AND t1.skin_name_ like '%${skinName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(skinDir)">
				AND t1.skin_dir_ like '%${skinDir}%'
			</if>
	       <if test="@Ognl@isNotEmpty(isdefault)">
				AND ISDEFAULT_ = #{isdefault}
			</if>
	</sql>


	<!-- get max id -->
	<select id="getMaxId" resultType="java.lang.String">
          select id_ from tc_skins_info  order by convert(id_ ,signed )   desc  limit   0,1
	</select>
	
	<select id="getTempletPath" resultMap="CmsSkinsAndVersionResult" resultType="java.lang.String">
         SELECT
    	  <include refid="cmsSkinsAndVersionColumns" />
	       FROM tc_skins_info t1 , tc_version_info t2
	   		where t2.id_=t1.version_id_ 
		    and t1.isdefault_=1 and t1.version_id_ = #{versionId}
	</select>


</mapper>
