<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="CmsTemplet">

	<resultMap id="CmsTempletResult" type="cn.mmbook.platform.model.tag.CmsTemplet">
              <result property="id" column="ID_" />				
              <result property="templetName" column="TEMPLET_NAME_" />				
              <result property="templetType" column="TEMPLET_TYPE_" />				
              <result property="insertTime" column="INSERT_TIME_" />				
              <result property="updateTime" column="UPDATE_TIME_" />				
              <result property="templetContent" column="TEMPLET_CONTENT_" />				
              <result property="webTempletType" column="WEB_TEMPLET_TYPE_" />				
              <result property="fileName" column="FILE_NAME_" />				
              <result property="versionId" column="VERSION_ID_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="cmsTempletColumns">
	    <![CDATA[
        	id_ AS id,
        	templet_name_ AS templetName,
        	templet_type_ AS templetType,
        	insert_time_ AS insertTime,
        	update_time_ AS updateTime,
        	templet_content_ AS templetContent,
        	web_templet_type_ AS webTempletType,
        	file_name_ AS fileName,
        	version_id_ AS versionId
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.tag.CmsTemplet" >
        INSERT INTO
        tg_cms_templet (
        	id_ ,
        	templet_name_ ,
        	templet_type_ ,
        	insert_time_ ,
        	update_time_ ,
        	templet_content_ ,
        	web_templet_type_ ,
        	file_name_ ,
        	version_id_ 
        ) VALUES (
        	#{id,jdbcType=VARCHAR} ,
        	#{templetName,jdbcType=VARCHAR} ,
        	#{templetType,jdbcType=CHAR} ,
        	now(),
        	now(),
        	#{templetContent,jdbcType=BLOB} ,
        	#{webTempletType,jdbcType=CHAR} ,
        	#{fileName,jdbcType=VARCHAR} ,
        	#{versionId,jdbcType=VARCHAR} 
        )
	</insert>
    
    <update id="update" parameterType="cn.mmbook.platform.model.tag.CmsTemplet">
        UPDATE tg_cms_templet
        <set>
	        <if test="@Ognl@isNotEmpty(templetName)">
				templet_name_ = #{templetName,jdbcType=VARCHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(templetType)">
				templet_type_ = #{templetType,jdbcType=CHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(insertTime)">
				insert_time_ = #{insertTime,jdbcType=DATE} ,
			</if>
	        <if test="@Ognl@isNotEmpty(templetContent)">
				templet_content_ = #{templetContent,jdbcType=BLOB} ,
			</if>
	        <if test="@Ognl@isNotEmpty(webTempletType)">
				web_templet_type_ = #{webTempletType,jdbcType=CHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(fileName)">
				file_name_ = #{fileName,jdbcType=VARCHAR} ,
			</if>
	        <if test="@Ognl@isNotEmpty(versionId)">
				version_id_ = #{versionId,jdbcType=VARCHAR}
			</if>
		</set>
        WHERE 
	        id_ = #{id} 
	</update>
	<!--  
	<update id="update" parameterType="cn.mmbook.platform.model.tag.CmsTemplet">
        UPDATE tg_cms_templet SET
            insert_time_ = sysdate,
            templet_name_ = #{templetName,jdbcType=CHAR} ,
            templet_content_ = #{templetContent,jdbcType=BLOB} ,
        WHERE  id_ = #{id} 
	</update>
-->
    <delete id="delete" parameterType="java.lang.String">
    <![CDATA[
        DELETE FROM tg_cms_templet WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.String" resultMap="CmsTempletResult">
		SELECT <include refid="cmsTempletColumns" />
	    <![CDATA[
		    FROM tg_cms_templet 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
	
	<sql id="cmsTempletDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(templetName)">
				AND templet_name_ like '%${templetName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(templetType)">
				AND templet_type_ = #{templetType}
			</if>
	       <if test="@Ognl@isNotEmpty(insertTime)">
				AND insert_time_ = #{insertTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				AND update_time_ = #{updateTime}
			</if>
	       <if test="@Ognl@isNotEmpty(templetContent)">
				AND templet_content_ = #{templetContent}
			</if>
	       <if test="@Ognl@isNotEmpty(webTempletType)">
				AND web_templet_type_ = #{webTempletType}
			</if>
	       <if test="@Ognl@isNotEmpty(fileName)">
				AND file_name_ like '%${fileName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND version_id_ = #{versionId}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tg_cms_templet 
		<include refid="cmsTempletDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="CmsTempletResult">
    	SELECT <include refid="cmsTempletColumns" />
	    FROM tg_cms_templet 
		<include refid="cmsTempletDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
    
    <select id="getList" resultMap="CmsTempletResult">
    	SELECT <include refid="cmsTempletColumns" />
	    FROM tg_cms_templet 
		<include refid="cmsTempletListWhere"/>
    </select>

   <sql id="cmsTempletListWhere">
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(templetName)">
				AND templet_name_ = #{templetName}
			</if>
	       <if test="@Ognl@isNotEmpty(templetType)">
				AND templet_type_ = #{templetType}
			</if>
	       <if test="@Ognl@isNotEmpty(insertTime)">
				AND insert_time_ = #{insertTime}
			</if>
	       <if test="@Ognl@isNotEmpty(updateTime)">
				AND update_time_ = #{updateTime}
			</if>
	       <if test="@Ognl@isNotEmpty(templetContent)">
				AND templet_content_ = #{templetContent}
			</if>
	       <if test="@Ognl@isNotEmpty(webTempletType)">
				AND web_templet_type_ = #{webTempletType}
			</if>
	       <if test="@Ognl@isNotEmpty(fileName)">
				AND file_name_ = #{fileName}
			</if>
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND version_id_ = #{versionId}
			</if>
		</where>
	</sql>

	<!-- get max id -->
	<select id="getMaxId" resultType="java.lang.String">
          select id_ from tg_cms_templet  order by convert(id_ ,signed )   desc  limit   0,1
	</select>


</mapper>
