<html>
<body>
<h3>Hi ${name}, ${poster} post a feedback!</h3>
<div>
<table border='0' cellpadding='0' cellspacing='0'>
<tr>
<td>
<h4>${subject}</h4>
</td>
</tr>
<tr>
<td>
<br/>
${content}					   
<br/><br/>
</td>
</tr>
<tr>
<td>
<a href='http://www.${webId}'>http://www.${webId}</a>.
</td>
</tr>
</table>
</div>
</body>
</html>