<html>
<body>
<h3>Hi ${name}, </h3>
<p>${forwarder} forward you a member link.</p>
<div>
<table border='0' cellpadding='0' cellspacing='0'>
<tr>
<td style='text-align:center;'>
<a href='${url}' >
<img src='${photoUrl}' style='border: 0px;'  align='middle' width='${photoWidth}' height='${photoHeight}'/>
</a>
<br/>
<a href='${url}' >${visitor}</a>
</td>
</tr>
<tr>
<td>					   
<br/><br/>
</td>
</tr>
<tr>
<td>
<a href='http://www.${webId}'>http://www.${webId}</a>.
</td>
</tr>
</table>
</div>
</body>
</html>