<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<error-page>
 	<error-code>404</error-code>
 	<location>/404error.jsp</location>
 </error-page>
 <error-page>
 	<error-code>500</error-code>
 	<location>/500error.jsp</location>
 </error-page>
	<filter>
		<filter-name>CharacterFilter</filter-name>
		<filter-class>team1.videoplay.filter.CharacterFiler</filter-class>
	</filter>
	<filter>
		<filter-name>CommonFilter</filter-name>
		<filter-class>team1.videoplay.filter.CommonFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharacterFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CommonFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>registeServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.registServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>showUserDetailServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.showUserDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>addReviewServlet</servlet-name>
		<servlet-class>team1.videoplay.review.servlet.addReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUserName</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.CheckUserName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllMemberServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.GetAllMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserStatusModifyServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.UserStatusModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAllPayUser</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.GetAllPayUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayUserDetail</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.PayUserDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PayUserResult</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.PayUserResult</servlet-class>
	</servlet>





	<servlet-mapping>
		<servlet-name>registeServlet</servlet-name>
		<url-pattern>/registServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>showUserDetailServlet</servlet-name>
		<url-pattern>/showUserDetailServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addReviewServlet</servlet-name>
		<url-pattern>/addReviewServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUserName</servlet-name>
		<url-pattern>/checkUserName.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllMemberServlet</servlet-name>
		<url-pattern>/getAllMemberServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserStatusModifyServlet</servlet-name>
		<url-pattern>/userStatusModifyServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/userDeleteServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllPayUser</servlet-name>
		<url-pattern>/getAllPayUser.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayUserDetail</servlet-name>
		<url-pattern>/payUserDetail.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayUserResult</servlet-name>
		<url-pattern>/payUserResult.do</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


	<!-- -liangliang -->
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>getAllPayUserServlet</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.GetAllPayUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetAllTypeServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.GetAllTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DeleteTypeServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.DeleteTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdateTypeAgoServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.UpdateTypeAgoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AddTypeServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.AddTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdateTypeServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.UpdateTypeServlet</servlet-class>
	</servlet>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchTypeServlet</servlet-name>
		<servlet-class>team1.videoplay.category.servlet.SearchTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetAllVideoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.GetAllVideoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchVideoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.SearchVideoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetAllCheckVideoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.GetAllCheckVideoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SearchCheckVideoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.SearchCheckVideoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>CheckVideoAgoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.CheckVideoAgoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>AuditingVideoServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.AuditingVideoServlet</servlet-class>
	</servlet>
	
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>videoUploadServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.videoUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoListServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserPayServlet</servlet-name>
		<servlet-class>team1.videoplay.userPay.servlet.UserPayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ApplyMoneyServlet</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.ApplyMoneyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BuyScoreServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.BuyScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserModifyServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.UserModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>ExitSystem</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.ExitSystem</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>GetPasswordServlet</servlet-name>
		<servlet-class>team1.videoplay.user.servlet.GetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>TypeQuery</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.TypeQuery</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoPlayServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoPlayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoDetailServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PayUserServlet</servlet-name>
		<servlet-class>team1.videoplay.payuser.servlet.PayUserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>MyVideoManageServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.MyVideoManageServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoModifyServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoUpdateServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>VideoDeleteServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.VideoDeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>DoScoreServlet</servlet-name>
		<servlet-class>team1.videoplay.video.servlet.DoScoreServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PayServlet</servlet-name>
		<servlet-class>team1.videoplay.userPay.servlet.PayServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserBuyScoreServlet</servlet-name>
		<servlet-class>team1.videoplay.userPay.servlet.UserBuyScoreServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>team1.videoplay.user.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginGoServlet</servlet-name>
    <servlet-class>team1.videoplay.user.servlet.LoginGoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>team1.videoplay.video.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyWalletServlet</servlet-name>
    <servlet-class>team1.videoplay.user.servlet.MyWalletServlet</servlet-class>
  </servlet>



























	<servlet-mapping>
		<servlet-name>getAllPayUserServlet</servlet-name>
		<url-pattern>/getAllPayUserServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllTypeServlet</servlet-name>
		<url-pattern>/getAllTypeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTypeServlet</servlet-name>
		<url-pattern>/deleteTypeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTypeAgoServlet</servlet-name>
		<url-pattern>/updateTypeAgoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTypeServlet</servlet-name>
		<url-pattern>/addTypeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTypeServlet</servlet-name>
		<url-pattern>/updateTypeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchTypeServlet</servlet-name>
		<url-pattern>/searchTypeServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllVideoServlet</servlet-name>
		<url-pattern>/getAllVideoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchVideoServlet</servlet-name>
		<url-pattern>/searchVideoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAllCheckVideoServlet</servlet-name>
		<url-pattern>/getAllCheckVideoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCheckVideoServlet</servlet-name>
		<url-pattern>/searchCheckVideoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckVideoAgoServlet</servlet-name>
		<url-pattern>/checkVideoAgoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuditingVideoServlet</servlet-name>
		<url-pattern>/auditingVideoServlet.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>videoUploadServlet</servlet-name>
		<url-pattern>/videoUploadServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoListServlet</servlet-name>
		<url-pattern>/videoListServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserPayServlet</servlet-name>
		<url-pattern>/userPayServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyMoneyServlet</servlet-name>
		<url-pattern>/applyMoneyServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyScoreServlet</servlet-name>
		<url-pattern>/buyScoreServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserModifyServlet</servlet-name>
		<url-pattern>/userModifyServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitSystem</servlet-name>
		<url-pattern>/exitSystem.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPasswordServlet</servlet-name>
		<url-pattern>/getPasswordServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TypeQuery</servlet-name>
		<url-pattern>/typeQuery.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoPlayServlet</servlet-name>
		<url-pattern>/videoPlayServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoDetailServlet</servlet-name>
		<url-pattern>/videoDetailServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayUserServlet</servlet-name>
		<url-pattern>/payUserServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyVideoManageServlet</servlet-name>
		<url-pattern>/myVideoManageServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoModifyServlet</servlet-name>
		<url-pattern>/videoModifyServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoUpdateServlet</servlet-name>
		<url-pattern>/videoUpdateServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoDeleteServlet</servlet-name>
		<url-pattern>/videoDeleteServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoScoreServlet</servlet-name>
		<url-pattern>/doScoreServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PayServlet</servlet-name>
		<url-pattern>/payServlet.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserBuyScoreServlet</servlet-name>
		<url-pattern>/userBuyScoreServlet.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginGoServlet</servlet-name>
    <url-pattern>/loginGo.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/searchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyWalletServlet</servlet-name>
    <url-pattern>/myWalletServlet.do</url-pattern>
  </servlet-mapping>

</web-app>
