<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-lazy-init="true">
    <!-- acegi security -->
    <import resource="classpath*:spring/security/acegi-with-channel.xml"/>
    <import resource="classpath*:spring/security/channel-jcaptcha.xml"/>
    <import resource="classpath*:spring/security/acegi-acl.xml"/>

    <!-- java mail -->
    <import resource="classpath*:spring/mail/applicationContext-mail.xml"/>

    <!-- compass search -->
<!--
    <import resource="classpath*:spring/search/applicationContext-compass.xml"/>
-->
    <!-- ActiveMQ JMS -->
<!--
    <import resource="classpath:spring/jms/applicationContext-activemq-embedded-persistence.xml"/>
-->
    <!-- cxf WebService -->
<!--
    <import resource="classpath:spring/cxf/applicationContext-cxf.xml"/>
-->
    <!-- quartz TimerTask -->
<!--
    <import resource="classpath:spring/quartz/applicationContext-quartz.xml"/>
-->
    <!-- hibernate-mock -->
<!--
    <import resource="classpath*:spring/db/hibernate-mock.xml"/>
-->
    <!-- groovy -->
<!--
    <import resource="classpath*:spring/groovy/applicationContext-groovy.xml"/>
-->
</beans>
