<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="ContentContentReal">

	<resultMap id="ContentContentRealResult" type="cn.mmbook.platform.model.site.ContentContentReal">
              <result property="id" column="id_" />				
              <result property="mainContentId" column="main_content_id_" />				
              <result property="relatingContentId" column="relating_content_id_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="contentContentRealColumns">
	    <![CDATA[
        	id_ AS id,
        	main_content_id_ AS mainContentId,
        	relating_content_id_ AS relatingContentId
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.site.ContentContentReal" >
         INSERT INTO
        tb_content_content_real (
        	id_ ,
        	main_content_id_ ,
        	relating_content_id_ 
        ) VALUES (
        	#{id,jdbcType=INTEGER} ,
        	#{mainContentId,jdbcType=VARCHAR} ,
        	#{relatingContentId,jdbcType=VARCHAR} 
        ) 
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.site.ContentContentReal">
    <![CDATA[
        UPDATE tb_content_content_real SET
	        main_content_id_ = #{mainContentId,jdbcType=VARCHAR} ,
	        relating_content_id_ = #{relatingContentId,jdbcType=VARCHAR} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_content_content_real WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="ContentContentRealResult">
		SELECT <include refid="contentContentRealColumns" />
	    <![CDATA[
		    FROM tb_content_content_real 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="ContentContentRealResult">
		SELECT <include refid="contentContentRealColumns" />
	    <![CDATA[
		    FROM tb_content_content_real
	    ]]>
	</select>
	<sql id="contentContentRealDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(mainContentId)">
				AND main_content_id_ = #{mainContentId}
			</if>
	       <if test="@Ognl@isNotEmpty(relatingContentId)">
				AND relating_content_id_ = #{relatingContentId}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_content_content_real 
		<include refid="contentContentRealDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="ContentContentRealResult">
    	SELECT <include refid="contentContentRealColumns" />
	    FROM tb_content_content_real 
		<include refid="contentContentRealDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="ContentContentRealResult">
    	SELECT <include refid="contentContentRealColumns" />
	    FROM tb_content_content_real
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_content_content_real 
		<include refid="contentContentRealDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getContentContentRealList" resultMap="ContentContentRealResult">
	  SELECT <include refid="contentContentRealColumns" />
	  FROM tb_content_content_real
	  <include refid="contentContentRealDynamicWhere"/>
	</select>


</mapper>
