<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="SiteInfomation">

	<resultMap id="SiteInfomationResult" type="cn.mmbook.platform.model.site.SiteInfomation">
              <result property="id" column="id_" />				
              <result property="siteName" column="site_name_" />				
              <result property="configId" column="config_id_" />				
              <result property="ftpUploadId" column="ftp_upload_id_" />				
              <result property="domain" column="domain_" />				
              <result property="path" column="path_" />				
              <result property="shortName" column="short_name_" />				
              <result property="currentSystem" column="current_system_" />				
              <result property="staticDir" column="static_dir_" />				
              <result property="localeAdmin" column="locale_admin_" />				
              <result property="localeFront" column="locale_front_" />				
              <result property="isRelativePath" column="is_relative_path_" />				
              <result property="tplSolution" column="tpl_solution_" />				
              <result property="dynamicSuffix" column="dynamic_suffix_" />				
              <result property="staticSuffix" column="static_suffix_" />				
              <result property="protocol" column="protocol_" />				
              <result property="isStaticOn" column="is_static_on_" />				
              <result property="domainAlias" column="domain_alias_" />				
              <result property="domainRedirect" column="domain_redirect_" />				
              <result property="finalStep" column="final_step_" />				
              <result property="afterCheck" column="after_check_" />				
              <result property="logoUrl" column="logo_url_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="siteInfomationColumns">
	    <![CDATA[
        	id_ AS id,
        	site_name_ AS siteName,
        	config_id_ AS configId,
        	ftp_upload_id_ AS ftpUploadId,
        	domain_ AS domain,
        	path_ AS path,
        	short_name_ AS shortName,
        	current_system_ AS currentSystem,
        	static_dir_ AS staticDir,
        	locale_admin_ AS localeAdmin,
        	locale_front_ AS localeFront,
        	is_relative_path_ AS isRelativePath,
        	tpl_solution_ AS tplSolution,
        	dynamic_suffix_ AS dynamicSuffix,
        	static_suffix_ AS staticSuffix,
        	protocol_ AS protocol,
        	is_static_on_ AS isStaticOn,
        	domain_alias_ AS domainAlias,
        	domain_redirect_ AS domainRedirect,
        	final_step_ AS finalStep,
        	after_check_ AS afterCheck,
        	logo_url_ AS logoUrl
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.site.SiteInfomation" >

        INSERT INTO
        tb_site_infomation_info (
        	id_ ,
        	site_name_ ,
        	config_id_ ,
        	ftp_upload_id_ ,
        	domain_ ,
        	path_ ,
        	short_name_ ,
        	current_system_ ,
        	static_dir_ ,
        	locale_admin_ ,
        	locale_front_ ,
        	is_relative_path_ ,
        	tpl_solution_ ,
        	dynamic_suffix_ ,
        	static_suffix_ ,
        	protocol_ ,
        	is_static_on_ ,
        	domain_alias_ ,
        	domain_redirect_ ,
        	final_step_ ,
        	after_check_ ,
        	logo_url_ 
        ) VALUES (
        	#{id,jdbcType=INTEGER} ,
        	#{siteName,jdbcType=VARCHAR} ,
        	#{configId,jdbcType=INTEGER} ,
        	#{ftpUploadId,jdbcType=INTEGER} ,
        	#{domain,jdbcType=VARCHAR} ,
        	#{path,jdbcType=VARCHAR} ,
        	#{shortName,jdbcType=VARCHAR} ,
        	#{currentSystem,jdbcType=VARCHAR} ,
        	#{staticDir,jdbcType=VARCHAR} ,
        	#{localeAdmin,jdbcType=VARCHAR} ,
        	#{localeFront,jdbcType=VARCHAR} ,
        	#{isRelativePath,jdbcType=INTEGER} ,
        	#{tplSolution,jdbcType=VARCHAR} ,
        	#{dynamicSuffix,jdbcType=VARCHAR} ,
        	#{staticSuffix,jdbcType=VARCHAR} ,
        	#{protocol,jdbcType=VARCHAR} ,
        	#{isStaticOn,jdbcType=INTEGER} ,
        	#{domainAlias,jdbcType=VARCHAR} ,
        	#{domainRedirect,jdbcType=VARCHAR} ,
        	#{finalStep,jdbcType=INTEGER} ,
        	#{afterCheck,jdbcType=INTEGER} ,
        	#{logoUrl,jdbcType=VARCHAR} 
        ) 
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.site.SiteInfomation">
    <![CDATA[
        UPDATE tb_site_infomation_info SET
	        site_name_ = #{siteName,jdbcType=VARCHAR} ,
	        config_id_ = #{configId,jdbcType=INTEGER} ,
	        ftp_upload_id_ = #{ftpUploadId,jdbcType=INTEGER} ,
	        domain_ = #{domain,jdbcType=VARCHAR} ,
	        path_ = #{path,jdbcType=VARCHAR} ,
	        short_name_ = #{shortName,jdbcType=VARCHAR} ,
	        current_system_ = #{currentSystem,jdbcType=VARCHAR} ,
	        static_dir_ = #{staticDir,jdbcType=VARCHAR} ,
	        locale_admin_ = #{localeAdmin,jdbcType=VARCHAR} ,
	        locale_front_ = #{localeFront,jdbcType=VARCHAR} ,
	        is_relative_path_ = #{isRelativePath,jdbcType=INTEGER} ,
	        tpl_solution_ = #{tplSolution,jdbcType=VARCHAR} ,
	        dynamic_suffix_ = #{dynamicSuffix,jdbcType=VARCHAR} ,
	        static_suffix_ = #{staticSuffix,jdbcType=VARCHAR} ,
	        protocol_ = #{protocol,jdbcType=VARCHAR} ,
	        is_static_on_ = #{isStaticOn,jdbcType=INTEGER} ,
	        domain_alias_ = #{domainAlias,jdbcType=VARCHAR} ,
	        domain_redirect_ = #{domainRedirect,jdbcType=VARCHAR} ,
	        final_step_ = #{finalStep,jdbcType=INTEGER} ,
	        after_check_ = #{afterCheck,jdbcType=INTEGER} ,
	        logo_url_ = #{logoUrl,jdbcType=VARCHAR} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_site_infomation_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="SiteInfomationResult">
		SELECT <include refid="siteInfomationColumns" />
	    <![CDATA[
		    FROM tb_site_infomation_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="SiteInfomationResult">
		SELECT <include refid="siteInfomationColumns" />
	    <![CDATA[
		    FROM tb_site_infomation_info
	    ]]>
	</select>
	<sql id="siteInfomationDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(siteName)">
				AND site_name_ = #{siteName}
			</if>
	       <if test="@Ognl@isNotEmpty(configId)">
				AND config_id_ = #{configId}
			</if>
	       <if test="@Ognl@isNotEmpty(ftpUploadId)">
				AND ftp_upload_id_ = #{ftpUploadId}
			</if>
	       <if test="@Ognl@isNotEmpty(domain)">
				AND domain_ = #{domain}
			</if>
	       <if test="@Ognl@isNotEmpty(path)">
				AND path_ = #{path}
			</if>
	       <if test="@Ognl@isNotEmpty(shortName)">
				AND short_name_ = #{shortName}
			</if>
	       <if test="@Ognl@isNotEmpty(currentSystem)">
				AND current_system_ = #{currentSystem}
			</if>
	       <if test="@Ognl@isNotEmpty(staticDir)">
				AND static_dir_ = #{staticDir}
			</if>
	       <if test="@Ognl@isNotEmpty(localeAdmin)">
				AND locale_admin_ = #{localeAdmin}
			</if>
	       <if test="@Ognl@isNotEmpty(localeFront)">
				AND locale_front_ = #{localeFront}
			</if>
	       <if test="@Ognl@isNotEmpty(isRelativePath)">
				AND is_relative_path_ = #{isRelativePath}
			</if>
	       <if test="@Ognl@isNotEmpty(tplSolution)">
				AND tpl_solution_ = #{tplSolution}
			</if>
	       <if test="@Ognl@isNotEmpty(dynamicSuffix)">
				AND dynamic_suffix_ = #{dynamicSuffix}
			</if>
	       <if test="@Ognl@isNotEmpty(staticSuffix)">
				AND static_suffix_ = #{staticSuffix}
			</if>
	       <if test="@Ognl@isNotEmpty(protocol)">
				AND protocol_ = #{protocol}
			</if>
	       <if test="@Ognl@isNotEmpty(isStaticOn)">
				AND is_static_on_ = #{isStaticOn}
			</if>
	       <if test="@Ognl@isNotEmpty(domainAlias)">
				AND domain_alias_ = #{domainAlias}
			</if>
	       <if test="@Ognl@isNotEmpty(domainRedirect)">
				AND domain_redirect_ = #{domainRedirect}
			</if>
	       <if test="@Ognl@isNotEmpty(finalStep)">
				AND final_step_ = #{finalStep}
			</if>
	       <if test="@Ognl@isNotEmpty(afterCheck)">
				AND after_check_ = #{afterCheck}
			</if>
	       <if test="@Ognl@isNotEmpty(logoUrl)">
				AND logo_url_ = #{logoUrl}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_site_infomation_info 
		<include refid="siteInfomationDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SiteInfomationResult">
    	SELECT <include refid="siteInfomationColumns" />
	    FROM tb_site_infomation_info 
		<include refid="siteInfomationDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="SiteInfomationResult">
    	SELECT <include refid="siteInfomationColumns" />
	    FROM tb_site_infomation_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_site_infomation_info 
		<include refid="siteInfomationDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getSiteInfomationList" resultMap="SiteInfomationResult">
	  SELECT <include refid="siteInfomationColumns" />
	  FROM tb_site_infomation_info
	  <include refid="siteInfomationDynamicWhere"/>
	</select>


</mapper>
