<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="SiteSubject">

	<resultMap id="SiteSubjectResult" type="cn.mmbook.platform.model.site.SiteSubject">
              <result property="id" column="id_" />				
              <result property="modelId" column="model_id_" />				
              <result property="subjectName" column="subject_name_" />				
              <result property="fullName" column="full_name_" />				
              <result property="subjectNotes" column="subject_notes_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="siteSubjectColumns">
	    <![CDATA[
        	id_ AS id,
        	model_id_ AS modelId,
        	subject_name_ AS subjectName,
        	full_name_ AS fullName,
        	subject_notes_ AS subjectNotes
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.site.SiteSubject" >
        INSERT INTO
        tb_site_subject_info (
        	id_ ,
        	model_id_ ,
        	subject_name_ ,
        	full_name_ ,
        	subject_notes_ 
        ) VALUES (
        	#{id,jdbcType=INTEGER} ,
        	#{modelId,jdbcType=VARCHAR} ,
        	#{subjectName,jdbcType=VARCHAR} ,
        	#{fullName,jdbcType=VARCHAR} ,
        	#{subjectNotes,jdbcType=VARCHAR} 
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.site.SiteSubject">
    <![CDATA[
        UPDATE tb_site_subject_info SET
	        model_id_ = #{modelId,jdbcType=VARCHAR} ,
	        subject_name_ = #{subjectName,jdbcType=VARCHAR} ,
	        full_name_ = #{fullName,jdbcType=VARCHAR} ,
	        subject_notes_ = #{subjectNotes,jdbcType=VARCHAR} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_site_subject_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="SiteSubjectResult">
		SELECT <include refid="siteSubjectColumns" />
	    <![CDATA[
		    FROM tb_site_subject_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="SiteSubjectResult">
		SELECT <include refid="siteSubjectColumns" />
	    <![CDATA[
		    FROM tb_site_subject_info
	    ]]>
	</select>
	<sql id="siteSubjectDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(modelId)">
				AND model_id_ = #{modelId}
			</if>
	       <if test="@Ognl@isNotEmpty(subjectName)">
				AND subject_name_ = #{subjectName}
			</if>
	       <if test="@Ognl@isNotEmpty(fullName)">
				AND full_name_ = #{fullName}
			</if>
	       <if test="@Ognl@isNotEmpty(subjectNotes)">
				AND subject_notes_ = #{subjectNotes}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_site_subject_info 
		<include refid="siteSubjectDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SiteSubjectResult">
    	SELECT <include refid="siteSubjectColumns" />
	    FROM tb_site_subject_info 
		<include refid="siteSubjectDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="SiteSubjectResult">
    	SELECT <include refid="siteSubjectColumns" />
	    FROM tb_site_subject_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_site_subject_info 
		<include refid="siteSubjectDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getSiteSubjectList" resultMap="SiteSubjectResult">
	  SELECT <include refid="siteSubjectColumns" />
	  FROM tb_site_subject_info
	  <include refid="siteSubjectDynamicWhere"/>
	</select>


</mapper>
