<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="SitePicNote">

	<resultMap id="SitePicNoteResult" type="cn.mmbook.platform.model.site.SitePicNote">
              <result property="id" column="id_" />				
              <result property="contentId" column="content_id_" />				
              <result property="picTitle" column="pic_title_" />				
              <result property="picFormat" column="pic_format_" />				
              <result property="picTypes" column="pic_types_" />				
	</resultMap>

	<resultMap id="SitePicNoteResultNew" type="cn.mmbook.platform.model.site.SitePicNote">
              <result property="id" column="t1_id_" />				
              <result property="contentId" column="t1_content_id_" />				
              <result property="picTitle" column="t1_pic_title_" />				
              <result property="picFormat" column="t1_pic_format_" />				
              <result property="picTypes" column="t1_pic_types_" />	
              <association property="siteContent" column="id_" resultMap="SiteContentResultNew" />			
	</resultMap>

	<resultMap id="SiteContentResultNew" type="cn.mmbook.platform.model.site.SiteContent">
              <result property="id" column="id_" />				
              <result property="sortId" column="sort_id_" />				
              <result property="oneSortId" column="one_sort_id_" />				
              <result property="title" column="title_" />				
              <result property="titleFull" column="title_full_" />				
              <result property="synopsis" column="synopsis_" />				
              <result property="sources" column="sources_" />				
              <result property="author" column="author_" />				
              <result property="submitNam" column="submit_nam_" />				
              <result property="submitTime" column="submit_time_" />				
              <result property="updateNam" column="update_nam_" />				
              <result property="updateTime" column="update_time_" />				
              <result property="previewsImgUrl" column="previews_img_url_" />				
              <result property="stateNo" column="state_no_" />				
              <result property="modelId" column="model_id_" />				
              <result property="sortValue" column="sort_value_" />				
              <result property="commentStat" column="comment_stat_" />				
              <result property="viewClass" column="view_class_" />				
              <result property="showTime" column="show_time_" />				
              <result property="conentUrl" column="conent_url_" />				
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="sitePicNoteColumns">
	    <![CDATA[
        	id_ AS id,
        	content_id_ AS contentId,
        	pic_title_ AS picTitle,
        	pic_format_ AS picFormat,
        	pic_types_ AS picTypes
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.site.SitePicNote" >
        INSERT INTO
        tb_site_pic_note_info (
        	content_id_ ,
        	pic_title_ ,
        	pic_format_ ,
        	pic_types_ 
        ) VALUES (
        	#{contentId,jdbcType=VARCHAR} ,
        	#{picTitle,jdbcType=VARCHAR} ,
        	#{picFormat,jdbcType=VARCHAR} ,
        	#{picTypes,jdbcType=INTEGER} 
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.site.SitePicNote">
    <![CDATA[
        UPDATE tb_site_pic_note_info SET
	        content_id_ = #{contentId,jdbcType=VARCHAR} ,
	        pic_title_ = #{picTitle,jdbcType=VARCHAR} ,
	        pic_format_ = #{picFormat,jdbcType=VARCHAR} ,
	        pic_types_ = #{picTypes,jdbcType=INTEGER} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.String">
    <![CDATA[
        DELETE FROM tb_site_pic_note_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.String" resultMap="SitePicNoteResult">
		SELECT <include refid="sitePicNoteColumns" />
	    <![CDATA[
		    FROM tb_site_pic_note_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="SitePicNoteResult">
		SELECT <include refid="sitePicNoteColumns" />
	    <![CDATA[
		    FROM tb_site_pic_note_info
	    ]]>
	</select>
	<sql id="sitePicNoteDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test=" id !=0">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(contentId)">
				AND content_id_ = #{contentId}
			</if>
	       <if test="@Ognl@isNotEmpty(picTitle)">
				AND pic_title_ = #{picTitle}
			</if>
	       <if test="@Ognl@isNotEmpty(picFormat)">
				AND pic_format_ = #{picFormat}
			</if>
	       <if test=" picTypes !=0">
				AND pic_types_ = #{picTypes}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_site_pic_note_info 
		<include refid="sitePicNoteDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SitePicNoteResult">
    	SELECT <include refid="sitePicNoteColumns" />
	    FROM tb_site_pic_note_info 
		<include refid="sitePicNoteDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="SitePicNoteResult">
    	SELECT <include refid="sitePicNoteColumns" />
	    FROM tb_site_pic_note_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_site_pic_note_info 
		<include refid="sitePicNoteDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getSitePicNoteList" resultMap="SitePicNoteResult">
	  SELECT <include refid="sitePicNoteColumns" />
	  FROM tb_site_pic_note_info
	  <include refid="sitePicNoteDynamicWhere"/>
	</select>

	<select id="getSitePicNoteInfo" resultMap="SitePicNoteResultNew" parameterType="string">
		SELECT t1.id_ ti_id_,t1.content_id_ t1_content_id_,t1.pic_title_ t1_pic_title_,t1.pic_format_ t1_pic_format_,t1.pic_types_ t1_pic_types_,t2.*
		FROM tb_site_pic_note_info t1
		INNER JOIN tb_site_content_info t2 ON t1.content_id_ = t2.id_
		and t1.content_id_=#{contentId}
	</select>
</mapper>
