@charset "utf-8";
body {
	background-image:url(../images/home_bg.png);
	background-repeat:repeat-x;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family:Arial, Helvetica, sans-serif;
}
.container{ width:960px; margin:0 auto;}
header, #header {
	width: 960px; height:88px; display:block;
}
.login form{
	float:right;
	display:block;
	width:600px;
	position: relative;
	top: -5px;
}
.login form input {
	height: 28px;
	width:180px;
	padding-left: 15px;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #BEBEBE;
	margin-top:3px;
}
.login form .slider {
	background-image:url(../images/cn/keep_me.gif);
	background-repeat:no-repeat;
	width:72px;
	height:32px;
	margin-top:2px;
	margin-bottom:5px;
	padding-right:14px;
	cursor:hand;
	cursor:pointer;
}
.register_content form .distance .label_sex {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display:block;
	float:left;
	text-align:right;
	margin-right:0.5em;
	width:11em;
	margin-top:3px;
}
.login form .forgetpassword {
	height:10px;
	width:100px;
	float:left;
	font-family:'FZSHJW';
	font-size:12px;
	margin-left:220px;
	color:#FFF;
	cursor:hand;
	cursor:pointer;
}
.register_content form .distance .birthday {
	width:50px;
	margin-left:2px;
}
.register_content form .distance .birthday_nd {
	width:34px;
	margin-left:12px;
}
.login form .box span {
	display:block;
	padding:9px 25px 6px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000;
	height:15px;
}
.clear{ 
       width:100%;
       height:0px;
	   clear:both;
}
.container .content #video .video_title {
	padding-top:50px;
	font-family:'fashion';
	font-size:20px;
	font-weight:bold;
}
.container .content #video .video_title span {
	font-size:14px;
	font-weight:normal;
	display:block;
	padding-top:5px;
}
.container .content #video .video_content {
	padding-top:20px;
	padding-bottom:20px;
}
.container .content #register {
	width:430px;
	height:500px;
	display:block;
	margin-left:30px;
	float:left;
}
.container .content #register .register_title {
	padding-top:50px;
	font-family:'fashion';
	font-size:20px;
	font-weight:bold;
}
.container .content #register .register_title span {
	padding-top:5px;
	display:block;
	font-size:14px;
	font-weight:normal;
	padding-bottom:10px;
}
.register_content form label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display:block;
	float:left;
	text-align:right;
	margin-right:0.5em;
	width:11em;
	margin-top:8px;
}
.register_content form input {
	height:28px;
	width:180px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #BEBEBE;
}
.register_content form .box_register span {
	display:block;
	padding:7px 25px 6px 25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#000;
	text-shadow: 1px 1px 1px #98b483;
	filter: dropshadow(color=#98b483, offx=1, offy=1);
}
.register_content form .distance span {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.content #register .register_content form .distance .radio {
	height:13px;
	width:13px;
}
.container .content {
	width:960px;
	height:550px;
}
.container #header .login form .slider img {
	padding-top:1px;
}
#footer .copyright {
	width:180px;
	height:40px;
	float:left;
}
#footer {
	margin-top:15px;
	width:960px;
	margin:0 auto;
	height:100px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	color:#999;
}
#footer .message {
	float:left;
	margin-left:100px;
	margin-top:15px;
}
#footer .report {
	float:right;
	width:120px;
	margin-top:15px;
}
#footer .message span {
	text-align:left;
}
#footer .report a {
	text-decoration:none;
	color:#999;
}
.container .content section #register .line {
	border-top:1px solid #CCC;
	border-bottom:1px solid #FFF;
	margin-top:11px;
}
#register .register_content form .distance {
	margin-top:12px;
}
.container #header .login form .login_distance {
	float:left;
	margin-top:22px;
	margin-left:10px;
	width:200px;
}
.container #header .login form .login_distance label {
	font-family:'FZSHJW';
	font-size:13px;
	color:#FFF;
}
.container #header .login form .login_distance_nd label {
	font-family:'FZSHJW';
	font-size:13px;
	color:#FFF;
}
.container #header .login form .login_distance_nd {
	float:left;
	margin-top:22px;
	margin-left:10px;
	width:75px;
}
