<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="BaseKeycontentReal">

	<resultMap id="BaseKeycontentRealResult" type="cn.mmbook.platform.model.base.BaseKeycontentReal">
              <result property="id" column="id_" />				
              <result property="contentId" column="content_id_" />				
              <result property="keywordsId" column="keywords_id_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="baseKeycontentRealColumns">
	    <![CDATA[
        	id_ AS id,
        	content_id_ AS contentId,
        	keywords_id_ AS keywordsId
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.base.BaseKeycontentReal" >

        INSERT INTO
        tb_base_keycontent_real (
        	id_ ,
        	content_id_ ,
        	keywords_id_ 
        ) VALUES (
        	#{id,jdbcType=INTEGER} ,
        	#{contentId,jdbcType=VARCHAR} ,
        	#{keywordsId,jdbcType=INTEGER} 
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.base.BaseKeycontentReal">
    <![CDATA[
        UPDATE tb_base_keycontent_real SET
	        content_id_ = #{contentId,jdbcType=VARCHAR} ,
	        keywords_id_ = #{keywordsId,jdbcType=INTEGER} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_base_keycontent_real WHERE
        id_ = #{id} 
    ]]>
    </delete>
    <delete id="deleteByMap"  parameterType="java.util.HashMap">
        DELETE FROM tb_base_keycontent_real WHERE 1=1 
	       <if test="@Ognl@isNotEmpty(contentId)">
				AND content_id_ = #{contentId}
			</if>
	       <if test="@Ognl@isNotEmpty(keywordsId)">
				AND keywords_id_ = #{keywordsId}
			</if>
    </delete>    
    <select id="getById" parameterType="java.lang.Integer" resultMap="BaseKeycontentRealResult">
		SELECT <include refid="baseKeycontentRealColumns" />
	    <![CDATA[
		    FROM tb_base_keycontent_real 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="BaseKeycontentRealResult">
		SELECT <include refid="baseKeycontentRealColumns" />
	    <![CDATA[
		    FROM tb_base_keycontent_real
	    ]]>
	</select>
	<sql id="baseKeycontentRealDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(contentId)">
				AND content_id_ = #{contentId}
			</if>
	       <if test="@Ognl@isNotEmpty(keywordsId)">
				AND keywords_id_ = #{keywordsId}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_base_keycontent_real 
		<include refid="baseKeycontentRealDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="BaseKeycontentRealResult">
    	SELECT <include refid="baseKeycontentRealColumns" />
	    FROM tb_base_keycontent_real 
		<include refid="baseKeycontentRealDynamicWhere"/>
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="BaseKeycontentRealResult">
    	SELECT <include refid="baseKeycontentRealColumns" />
	    FROM tb_base_keycontent_real
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_base_keycontent_real 
		<include refid="baseKeycontentRealDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getBaseKeycontentRealList" resultMap="BaseKeycontentRealResult">
	  SELECT <include refid="baseKeycontentRealColumns" />
	  FROM tb_base_keycontent_real
	  <include refid="baseKeycontentRealDynamicWhere"/>
	</select>


</mapper>
