body {
  font-size:12px;
}.x-tree-node {
  font-size:12px;
}.x-btn button {
  font-size:12px;
}.x-menu-list-item {
  font-size:12px;
}.x-layout-panel-hd-text {
  font-size:12px;
}.x-grid-hd-row td, .x-grid-row td {
  font-size:12px;
}.x-layout-panel-hd-text {
  font-size:12px;
}.x-tabs-strip .x-tabs-text {
  font-size:12px;
}.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
  font-size:12px;
}.x-form fieldset legend {
  font-size:12px;
}.x-layout-panel-hd-text {
  font-size:12px;
}.x-html-editor-wrap iframe {
  width:100%;
}input {
  margin:0px;
  padding:0px;
}
