<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="ExtjsTest">

	<resultMap id="ExtjsTestResult" type="cn.mmbook.platform.model.manage.ExtjsTest">
              <result property="id" column="id_" />				
              <result property="functionName" column="function_name_" />				
              <result property="parentId" column="parent_id_" />				
              <result property="types" column="types_" />				
              <result property="insertTime" column="insert_time_" />				
              <result property="telephone" column="telephone_" />				
              <result property="mobileTelephone" column="mobile_telephone_" />				
              <result property="frequency" column="frequency_" />				
              <result property="upfileUrl" column="upfile_url_" />				
              <result property="rating" column="rating_" />				
              <result property="whetherDefault" column="whether_default_" />				
              <result property="functionExplain" column="function_explain_" />
              <result property="aggregate" column="aggregate_" />
              			
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="extjsTestColumns">
	    <![CDATA[
        	id_ AS id,
        	function_name_ AS functionName,
        	parent_id_ AS parentId,
        	types_ AS types,
        	insert_time_ AS insertTime,
        	telephone_ AS telephone,
        	mobile_telephone_ AS mobileTelephone,
        	frequency_ AS frequency,
        	upfile_url_ AS upfileUrl,
        	rating_ AS rating,
        	whether_default_ AS whetherDefault,
        	function_explain_ AS functionExplain,
        	aggregate_ as aggregate
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.manage.ExtjsTest" >
        INSERT INTO
        tb_extjs_test_info (
        	 
        	function_name_ ,
        	parent_id_ ,
        	types_ ,
        	insert_time_ ,
        	telephone_ ,
        	mobile_telephone_ ,
        	frequency_ ,
        	upfile_url_ ,
        	rating_ ,
        	whether_default_ ,
        	function_explain_,
        	aggregate_
        ) VALUES (
        	 
        	#{functionName,jdbcType=VARCHAR} ,
        	#{parentId,jdbcType=INTEGER} ,
        	#{types,jdbcType=CHAR} ,
        	#{insertTime,jdbcType=DATE} ,
        	#{telephone,jdbcType=VARCHAR} ,
        	#{mobileTelephone,jdbcType=VARCHAR} ,
        	#{frequency,jdbcType=INTEGER} ,
        	#{upfileUrl,jdbcType=VARCHAR} ,
        	#{rating,jdbcType=INTEGER} ,
        	#{whetherDefault,jdbcType=CHAR} ,
        	#{functionExplain,jdbcType=VARCHAR},
        	#{aggregate,jdbcType=VARCHAR}
        	
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.manage.ExtjsTest">
    <![CDATA[
        UPDATE tb_extjs_test_info SET
	        function_name_ = #{functionName,jdbcType=VARCHAR} ,
	        parent_id_ = #{parentId,jdbcType=INTEGER} ,
	        types_ = #{types,jdbcType=CHAR} ,
	        insert_time_ = #{insertTime,jdbcType=DATE} ,
	        telephone_ = #{telephone,jdbcType=VARCHAR} ,
	        mobile_telephone_ = #{mobileTelephone,jdbcType=VARCHAR} ,
	        frequency_ = #{frequency,jdbcType=INTEGER} ,
	        upfile_url_ = #{upfileUrl,jdbcType=VARCHAR} ,
	        rating_ = #{rating,jdbcType=INTEGER} ,
	        whether_default_ = #{whetherDefault,jdbcType=CHAR} ,
	        function_explain_ = #{functionExplain,jdbcType=VARCHAR},
	        aggregate_ = #{aggregate,jdbcType=VARCHAR}
	        
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_extjs_test_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="ExtjsTestResult">
		SELECT <include refid="extjsTestColumns" />
	    <![CDATA[
		    FROM tb_extjs_test_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="ExtjsTestResult">
		SELECT <include refid="extjsTestColumns" />
	    <![CDATA[
		    FROM tb_extjs_test_info
	    ]]>
	</select>
	<sql id="extjsTestDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(functionName)">
	         AND function_name_ like '%${functionName}%' 
			</if>
	       <if test="@Ognl@isNotEmpty(parentId)">
				AND parent_id_ = #{parentId}
			</if>
	       <if test="@Ognl@isNotEmpty(types)">
				AND types_ = #{types}
			</if>
	       <if test="@Ognl@isNotEmpty(insertTime)">
				AND insert_time_ >to_date('#{insertTime}','yyyy-mm-dd')
			</if>
	       <if test="@Ognl@isNotEmpty(telephone)">
				AND telephone_ = #{telephone}
			</if>
	       <if test="@Ognl@isNotEmpty(mobileTelephone)">
				AND mobile_telephone_ = #{mobileTelephone}
			</if>
	       <if test="@Ognl@isNotEmpty(frequency)">
				AND frequency_ = #{frequency}
			</if>
	       <if test="@Ognl@isNotEmpty(upfileUrl)">
				AND upfile_url_ = #{upfileUrl}
			</if>
	       <if test="@Ognl@isNotEmpty(rating)">
				AND rating_ = #{rating}
			</if>
	       <if test="@Ognl@isNotEmpty(whetherDefault)">
				AND whether_default_ = #{whetherDefault}
			</if>
	       <if test="@Ognl@isNotEmpty(functionExplain)">
				AND function_explain_ = #{functionExplain}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_extjs_test_info 
		<include refid="extjsTestDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="ExtjsTestResult">
    	SELECT <include refid="extjsTestColumns" />
	    FROM tb_extjs_test_info 
		<include refid="extjsTestDynamicWhere"/>
		  
		ORDER BY id_ desc
		
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="ExtjsTestResult">
    	SELECT <include refid="extjsTestColumns" />
	    FROM tb_extjs_test_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_extjs_test_info 
		<include refid="extjsTestDynamicWhere"/>    
    </select>


	<select id="getExtjsTestList" resultMap="ExtjsTestResult">
	  SELECT <include refid="extjsTestColumns" />
	  FROM tb_extjs_test_info
	  <include refid="extjsTestDynamicWhere"/>
	</select>

	<select id="getListByMap" resultMap="ExtjsTestResult"  parameterType="java.util.HashMap">
	  SELECT <include refid="extjsTestColumns" />
	  FROM tb_extjs_test_info
	   <where>
	     <if test="@Ognl@isNotEmpty(parentId)">
	        parent_id_ = #{parentId}
	     </if>
	   </where>
	</select>


</mapper>
