<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="SiteContentSort">

	<resultMap id="SiteContentSortResult" type="cn.mmbook.platform.model.manage.SiteContentSort">
              <result property="id" column="id_" />				
              <result property="classifyName" column="classify_name_" />				
              <result property="lowerNode" column="lower_node_" />				
              <result property="parentId" column="parent_id_" />				
              <result property="classifyGrade" column="classify_grade_" />				
              <result property="sortValue" column="sort_value_" />				
              <result property="effective" column="effective_" />				
              <result property="classifyNature" column="classify_nature_" />				
              <result property="classifyNotes" column="classify_notes_" />				
              <result property="insertTime" column="insert_time_" />
              <result property="modelId" column="model_id_" />
              <result property="sortByname" column="sort_byname_" />
              <result property="logoUrl" column="logo_url_" />				
	</resultMap>

	<resultMap id="SiteContentSortResultNew" type="cn.mmbook.platform.model.manage.SiteContentSort">
              <result property="id" column="id_" />				
              <result property="classifyName" column="classify_name_" />				
              <result property="lowerNode" column="lower_node_" />				
              <result property="parentId" column="parent_id_" />				
              <result property="classifyGrade" column="classify_grade_" />				
              <result property="sortValue" column="sort_value_" />				
              <result property="effective" column="effective_" />				
              <result property="classifyNature" column="classify_nature_" />				
              <result property="classifyNotes" column="classify_notes_" />				
              <result property="insertTime" column="insert_time_" />
              <result property="modelId" column="model_id_" />
              <result property="sortByname" column="sort_byname_" />
              <result property="logoUrl" column="logo_url_" />              
              <association property="sitePart" column="t2_id" resultMap="SitePartResultNew" />			
	</resultMap>
	<resultMap id="SitePartResultNew" type="cn.mmbook.platform.model.manage.SitePart">
              <result property="id" column="t2_id" />				
              <result property="partName" column="part_name_" />				
              <result property="lowerNode" column="lower_node_" />				
              <result property="partParentId" column="part_parent_id_" />				
              <result property="showType" column="show_type_" />				
              <result property="sortValue" column="sort_value_" />				
              <result property="effective" column="effective_" />				
              <result property="partNotes" column="part_notes_" />				
              <result property="insertTime" column="insert_time_" />	
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="siteContentSortColumns">
	    <![CDATA[
        	id_ AS id,
        	classify_name_ AS classifyName,
        	lower_node_ AS lowerNode,
        	parent_id_ AS parentId,
        	classify_grade_ AS classifyGrade,
        	sort_value_ AS sortValue,
        	effective_ AS effective,
        	classify_nature_ AS classifyNature,
        	classify_notes_ AS classifyNotes,
        	insert_time_ AS insertTime,
        	model_id_ as modelId,
        	sort_byname_ as sortByname,
        	logo_url_ as logoUrl
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.manage.SiteContentSort" >
	
        INSERT INTO
        tb_site_content_sort_info (
        	classify_name_ ,
        	lower_node_ ,
        	parent_id_ ,
        	classify_grade_ ,
        	sort_value_ ,
        	effective_ ,
        	classify_nature_ ,
        	classify_notes_ ,
        	insert_time_,
        	model_id_,
        	sort_byname_,
        	logo_url_
        ) VALUES (
        	#{classifyName,jdbcType=VARCHAR} ,
        	#{lowerNode,jdbcType=INTEGER} ,
        	#{parentId,jdbcType=INTEGER} ,
        	#{classifyGrade,jdbcType=INTEGER} ,
        	#{sortValue,jdbcType=INTEGER} ,
        	#{effective,jdbcType=INTEGER} ,
        	#{classifyNature,jdbcType=INTEGER} ,
        	#{classifyNotes,jdbcType=VARCHAR} ,
        	now(),
        	#{modelId,jdbcType=VARCHAR} ,
        	#{sortByname,jdbcType=VARCHAR} ,
        	#{logoUrl,jdbcType=VARCHAR} 
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.manage.SiteContentSort">
        UPDATE tb_site_content_sort_info SET
            <if test="@Ognl@isNotEmpty(classifyName)">
	           classify_name_ = #{classifyName},
	        </if>
	        <if test="@Ognl@isNotEmpty(lowerNode)">
	          lower_node_ = #{lowerNode} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(parentId)">
	          parent_id_ = #{parentId} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(classifyGrade)">
	          classify_grade_ = #{classifyGrade} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(sortValue)">
	          sort_value_ = #{sortValue} ,
	        </if>
	        <if test=" effective !=0">
	          effective_ = #{effective} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(classifyNature)">
	          classify_nature_ = #{classifyNature} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(classifyNotes)">
	          classify_notes_ = #{classifyNotes} ,
	        </if>
	          insert_time_ = now(),
	        <if test="@Ognl@isNotEmpty(modelId)">
	          model_id_ = #{modelId} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(sortByname)">
	          sort_byname_ = #{sortByname} ,
	        </if>
	        <if test="@Ognl@isNotEmpty(logoUrl)">
	           logo_url_ = #{logoUrl},
	        </if>
	        id_ = #{id}
        WHERE 
	        id_ = #{id} 
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_site_content_sort_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="SiteContentSortResult">
		SELECT <include refid="siteContentSortColumns" />
	    <![CDATA[
		    FROM tb_site_content_sort_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="SiteContentSortResult">
		SELECT <include refid="siteContentSortColumns" />
	    <![CDATA[
		    FROM tb_site_content_sort_info
	    ]]>
	</select>
	<sql id="siteContentSortDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(classifyName)">
				AND classify_name_   LIKE '%' || #{classifyName} || '%'
			</if>
	       <if test="@Ognl@isNotEmpty(lowerNode)">
				AND lower_node_ = #{lowerNode}
			</if>
	       <if test="@Ognl@isNotEmpty(parentId)">
				AND parent_id_ = #{parentId}
			</if>
	       <if test="@Ognl@isNotEmpty(classifyGrade)">
				AND classify_grade_ = #{classifyGrade}
			</if>
	       <if test="@Ognl@isNotEmpty(sortValue)">
				AND sort_value_ = #{sortValue}
			</if>
	       <if test="@Ognl@isNotEmpty(effective)">
				AND effective_ = #{effective}
			</if>
	       <if test="@Ognl@isNotEmpty(classifyNature)">
				AND classify_nature_ = #{classifyNature}
			</if>
	       <if test="@Ognl@isNotEmpty(classifyNotes)">
				AND classify_notes_  LIKE '%' || #{classifyNotes} || '%'
			</if>
	       <if test="@Ognl@isNotEmpty(insertTime)">
				AND insert_time_ = #{insertTime}
			</if>
	       <if test="@Ognl@isNotEmpty(modelId)">
				AND model_id_ = #{modelId}
			</if>
			<if test="@Ognl@isNotEmpty(sortByname)">
				AND sort_byname_ = #{sortByname}
			</if>
		    <if test="@Ognl@isNotEmpty(logoUrl)">
				AND logo_url_ = #{logoUrl}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_site_content_sort_info 
		<include refid="siteContentSortDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SiteContentSortResult">
    	SELECT <include refid="siteContentSortColumns" />
	    FROM tb_site_content_sort_info 
		<include refid="siteContentSortDynamicWhere"/>
		ORDER BY id_ desc
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="SiteContentSortResult">
    	SELECT <include refid="siteContentSortColumns" />
	    FROM tb_site_content_sort_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_site_content_sort_info 
		<include refid="siteContentSortDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getSiteContentSortList" resultMap="SiteContentSortResult">
	  SELECT <include refid="siteContentSortColumns" />
	  FROM tb_site_content_sort_info
	  <include refid="siteContentSortDynamicWhere"/>
	</select>
	
	<select id="getListByMap" resultMap="SiteContentSortResult"  parameterType="java.util.HashMap">
	  SELECT <include refid="siteContentSortColumns" />
	  FROM tb_site_content_sort_info
	  where parent_id_=#{id}
	</select>

	<!-- 根据站点内容名获取id (arye) -->
 	<select id="getSiteContentSortIdByName" resultType="int" parameterType="string">
		SELECT <include refid="siteContentSortColumns" />
	    <![CDATA[
		    FROM tb_site_content_sort_info where classify_name_ = #{siteContentSortName}
	    ]]>
	</select>
	
 	<select id="getTopId" resultMap="SiteContentSortResult" parameterType="int">
	  select <include refid="siteContentSortColumns" />  
	    from tb_site_content_sort_info t
		 where  t.id_=#{id}
     </select>

    <select id="getSoftByPartIdlist" resultMap="SiteContentSortResultNew"  parameterType="java.util.HashMap">
    SELECT t1.id_ ,t1.classify_name_,t1.lower_node_,t1.parent_id_,t1.classify_grade_ ,
        	t1.sort_value_,t1.effective_,t1.classify_nature_,t1.classify_notes_ ,t1.insert_time_,
        	t1.model_id_,t1.sort_byname_,t1.logo_url_,
        	t3.id_ as t2_id,t3.part_name_
 		FROM tb_site_content_sort_info t1,tb_site_part_content_real t2,tb_site_part_info t3
		where t1.id_ = t2.sort_id_ and t3.id_=t2.part_id_
	   
	       <if test="@Ognl@isNotEmpty(sitePartId)">
				AND t2.part_id_ = #{sitePartId}
		   </if> 
	  	<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
		
    <select id="getSoftByPartIdcount" resultType="long"  parameterType="java.util.HashMap">
        SELECT COUNT(1) FROM tb_site_content_sort_info t1,tb_site_part_content_real t2,tb_site_part_info t3
		where t1.id_ = t2.sort_id_ and t3.id_=t2.part_id_  
	       <if test="@Ognl@isNotEmpty(sitePartId)">
				AND t2.part_id_ = #{sitePartId}
		   </if>
	</select>
	
	<!-- get max id -->
	<select id="getMaxId" resultType="java.lang.String">
       select id_ from tb_site_content_sort_info  order by convert(id_ ,signed )   desc  limit   0,1
	</select>
	
	<select id="getSiteContentSortById" resultMap="SiteContentSortResult" parameterType="string">
		select <include refid="siteContentSortColumns" /> 
	    from tb_site_content_sort_info t 
		where t.id_=#{sortId}
	</select>
	
	<select id="getSortBySortID" resultMap="SiteContentSortResult" parameterType="HashMap">
		select <include refid="siteContentSortColumns" /> 
	    from tb_site_content_sort_info t where 1=1 
		<if test="@Ognl@isNotEmpty(sortId)">
			and t.id_=#{sortId} 
		</if>
		<if test="@Ognl@isNotEmpty(sort)">
			order by #{sort}
		</if>
		<if test="@Ognl@isNotEmpty(count)">
			limit #{begin},#{end}
		</if>
	</select>
</mapper>

