<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<!--
  - Light Portal Framework Web Application
  -
  -
  - $Id: web.xml,v 1.1 2006/04/05 15:04:45 jianminliu Exp $
  -->

<web-app>
    <display-name>light Portal Framework Application</display-name>
	<context-param>
	  <param-name>proxySet</param-name>
	  <param-value>false</param-value>
	</context-param>
	<context-param>
	  <param-name>proxyHost</param-name>
	  <param-value></param-value>
	</context-param>
	<context-param>
	  <param-name>proxyPort</param-name>
	  <param-value></param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/applicationContext.xml
		</param-value>
	</context-param>
	<filter>
        <filter-name>VirtualHostFilter</filter-name>
        <filter-class>org.light.portal.VirtualHostFilter</filter-class>        
	</filter>
    <filter-mapping>
      <filter-name>VirtualHostFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter</filter-name>
        <filter-class>org.light.portal.CacheFilter</filter-class>        
	</filter>
    <filter-mapping>
      <filter-name>CacheFilter</filter-name>
      <url-pattern>*.gif</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>CacheFilter</filter-name>
      <url-pattern>*.jpg</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>CacheFilter</filter-name>
      <url-pattern>*.png</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>CacheFilter</filter-name>
      <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>CacheFilter</filter-name>
      <url-pattern>*.js</url-pattern>
    </filter-mapping>
        
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.light.portal.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.light.portal.SessionListener</listener-class>
	</listener>	
	<servlet>
		<servlet-name>lightPortalServlet</servlet-name>
		<servlet-class>org.light.portal.Servlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	      
	<servlet>
		<servlet-name>fileDispatcherServlet</servlet-name>
		<servlet-class>org.light.portal.FileDispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
		
	<servlet>
		<servlet-name>Connector</servlet-name>
		<servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Connector</servlet-name>
		<!-- Do not wrap this line otherwise Glassfish will fail to load this file -->
		<url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
	</servlet-mapping>
	        	     	        	     	
	<servlet-mapping>
		<servlet-name>fileDispatcherServlet</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileDispatcherServlet</servlet-name>
		<url-pattern>/grp/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileDispatcherServlet</servlet-name>
		<url-pattern>/sitemap/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileDispatcherServlet</servlet-name>
		<url-pattern>/robots.txt</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>*.lp</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/ref/*</url-pattern>
	</servlet-mapping> 		
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/space/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/page/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/group/*</url-pattern>
	</servlet-mapping> 	
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/forum/*</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/blog/*</url-pattern>
	</servlet-mapping> 	    
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/rss/*</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/opml/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/ref/*</url-pattern>
	</servlet-mapping>  
 	<servlet-mapping>
		<servlet-name>lightPortalServlet</servlet-name>
		<url-pattern>/cl/*</url-pattern>
	</servlet-mapping>  
 	
 	<session-config>
    	<session-timeout>30</session-timeout>
  	</session-config>
  	   
 	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	 
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page> 
		
	<taglib>
    	<taglib-uri>http://lightportal.org/portal</taglib-uri>
    	<taglib-location>/WEB-INF/light.tld</taglib-location>
    </taglib>  
    <taglib>
    	<taglib-uri>http://java.sun.com/portlet</taglib-uri>
    	<taglib-location>/WEB-INF/portlet.tld</taglib-location>
    </taglib>   
</web-app>
