

*{
	margin:0 0;
	padding:0 0;
	font-size:12px;
	color:#626262;
	font-family:微软雅黑,宋体,Verdana,Arial,Tahoma
}
a{
	color:#878787;
	font-size:12px;
	text-decoration:none;
}
a:visited{
	color:#878787;
}


img{
	border:none;
}
/*
span{
	color:#878787;
}*/
ul{
	list-style:none;
}
/*清除浮动*/
.clean{
	clear:both;
}
/*选中的标题*/
.selectNav{
	color:#83C325!important;
}
.seachTxt{
	border:1px solid #6D6D6D;
}


/*主要的内容模块的模板*/
.details{
	width:282px;
	margin-left:10px;
	padding:20px 0
}
.details .details_left{
	float:left;
	width:70px;
	height:70px; 
	overflow:hidden
}
.details .details_left img{
	width:70px;
	height:70px;
}



/* ------------------------------------------------- */

.details .details_right{
	float:right;
	width:197px;
	text-align:left;
	padding-left:15px;
	height:70px;
    overflow:hidden;
}

/*标题*/
.details .details_right h4{
	float:left;
	width:115px;
	color:#5E5C5D;
	font-weight:normal;
	font-size:14px;
}
/*more*/
.details .details_right span{
	float:right;
	width:36px;
	height:10px;
	line-height:10px;
	background:url(../images/more.gif) left center no-repeat;
	padding-left:14px;
	color:#929393;
	margin-top:4px;
}

.details .details_right ul{
	list-style:none;
}
.details .details_right ul li{
	font-size:12px;
	color:#878787;
	float:left;
	width:195px;
	line-height:17px
}


/*第一个列表*/
.listOne{
	width:195px;
	height:auto;
	float:left
}
/*第二个列表*/
.listTwo{
	height: auto;
	padding-top:17px;
	width:195px;
	float:left;
}
/* 底部长条的搜索条 */
.foot_seach{
	width:270px;
}
.splitline{
	width:100%;
	background-color:#BBBAB9;
	display:block;
	border:1px solid #BBBAB9;
}
.banner{
	width:100%;
	height:100px;
	display:block;
	background-color:#000;
}


/*两个特殊的广告 */
/*热门标签*/
.topTags{
	float:right;
	width:204px;
	margin:30px 0;
	padding-left:105px;
	text-align:left;
}
.topTags h3{
	margin-bottom:20px;
}

/*长条翩短的广告*/
.advtype2{
	float:right;
	width:204px;
	padding-left:105px;
}
.advtype2 img{
	width:200px;
	height:100px;
	margin-top:5px;
}
/*长条形的广告*/
.advtype3{
	float:right;
	width:204px;
	margin:10px 0px;
	padding-left:105px;
}
.advtype3 img{
	width:160px;
	height:600px;
}


A.borderima:link IMG {
	BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid
}
A.borderima:visited IMG {
	BORDER-RIGHT: #bfbfbf 1px solid; BORDER-TOP: #bfbfbf 1px solid; BORDER-LEFT: #bfbfbf 1px solid; BORDER-BOTTOM: #bfbfbf 1px solid
}
A.borderima:hover IMG {
	BORDER-RIGHT: #f09 1px solid; BORDER-TOP: #f09 1px solid; BORDER-LEFT: #f09 1px solid; BORDER-BOTTOM: #f09 1px solid
}
A.borderima:active IMG {
	BORDER-RIGHT: #f09 1px solid; BORDER-TOP: #f09 1px solid; BORDER-LEFT: #f09 1px solid; BORDER-BOTTOM: #f09 1px solid
}

A.borderima:hover {
	_color: #334
}

/*图标显示 标题*/
.tabshow_title{
	width:100%;
}

.tabshow_title h3{
	float:left;
	padding-left:10px;
}
.tabshow_title ul{
	float:right;
}
.tabshow_title ul li{
	float:left;
	width:60px;
}

/*所有右边广告*/
.rightContent_top_ad_345-240{
	float:right;
	width:348px;
	height:240px;
	
}
.rightContent_ad_345-120{
	float:right;
	width:348px;
	height:120px;
	margin-top:5px;
}
.webspecialimgs{
	float:right;
	width:204px;
	margin-top:30px;
	padding-left:105px;
	text-align:left;
}
.webspecialimgs h3{
	margin-bottom:23px;
	font-weight: bold;
	font-size:14px;
	color:#878787;
}
.webspecialimgs img{
	width:46px;
	height:46px;
}

/****persion details_all****/
.details .details_all{
	float:right;
	width:267px;
	text-align:left;
	margin-top:5px;
	padding-left:15px;
}

/*标题*/
.details .details_all h4{
	float:left;
	width:200px;
	color:#5E5C5D;
	font-weight:normal;
	margin-top:4px;
	font-size:14px;
}
/*more*/
.details .details_all span{
	float:right;
	width:36px;
	height:10px;
	line-height:10px;
	background:url(../images/more.gif) left center no-repeat;
	padding-left:14px;
	color:#929393;
	margin-top:4px;
}

.details .details_all ul{
	list-style:none;
}
.details .details_all ul li{
	font-size:12px;
	color:#878787;
	margin-top:3px;
}

A.coverBg:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 140px; PADDING-TOP: 70px; POSITION: absolute; HEIGHT: 70px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 140px; PADDING-TOP: 70px; POSITION: absolute; HEIGHT: 70px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 140px; PADDING-TOP: 70px; POSITION: absolute; HEIGHT: 70px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 140px; PADDING-TOP: 70px; POSITION: absolute; HEIGHT: 70px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg120:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 120px; PADDING-TOP: 60px; POSITION: absolute; HEIGHT: 60px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg120:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 120px; PADDING-TOP: 60px; POSITION: absolute; HEIGHT: 60px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg120:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 120px; PADDING-TOP: 60px; POSITION: absolute; HEIGHT: 60px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg120:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 120px; PADDING-TOP: 60px; POSITION: absolute; HEIGHT: 60px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg120:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg120:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg120:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg120:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg120:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg120:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}

A.coverBg110:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 110px; PADDING-TOP: 55px; POSITION: absolute; HEIGHT: 55px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg110:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 110px; PADDING-TOP: 55px; POSITION: absolute; HEIGHT: 55px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg110:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 110px; PADDING-TOP: 55px; POSITION: absolute; HEIGHT: 55px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg110:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 110px; PADDING-TOP: 55px; POSITION: absolute; HEIGHT: 55px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg110:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg110:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg110:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg110:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg110:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg110:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}





A.coverBg100:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 100px; PADDING-TOP: 50px; POSITION: absolute; HEIGHT: 50px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg100:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 100px; PADDING-TOP: 50px; POSITION: absolute; HEIGHT: 50px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg100:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 100px; PADDING-TOP: 50px; POSITION: absolute; HEIGHT: 50px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg100:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 100px; PADDING-TOP: 50px; POSITION: absolute; HEIGHT: 50px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg100:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg100:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg100:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg100:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg100:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg100:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}



A.coverBg90:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 90px; PADDING-TOP: 45px; POSITION: absolute; HEIGHT: 45px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg90:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 90px; PADDING-TOP: 45px; POSITION: absolute; HEIGHT: 45px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg90:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 90px; PADDING-TOP: 45px; POSITION: absolute; HEIGHT: 45px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg90:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 90px; PADDING-TOP: 45px; POSITION: absolute; HEIGHT: 45px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg90:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg90:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg90:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg90:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg90:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg90:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}


A.coverBg80:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 80px; PADDING-TOP: 40px; POSITION: absolute; HEIGHT: 40px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg80:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 80px; PADDING-TOP: 40px; POSITION: absolute; HEIGHT: 40px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg80:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 80px; PADDING-TOP: 40px; POSITION: absolute; HEIGHT: 40px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg80:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 80px; PADDING-TOP: 40px; POSITION: absolute; HEIGHT: 40px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg80:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg80:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg80:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg80:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg80:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg80:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}