#pops-tips-box, 
#pops-cover,
#pops-page-box, 
#pops-closeBar-box, 
#pops-msg-box{
	position: absolute;
	font: normal 12px arial, helvetica, sans-serif;
}
#pops-tips-box{/* <the tips when input error> */
	border: 1px solid #990033;
	padding: 2px 4px;
	background-color: #66FFCC;
	color: #990033;
	opacity: 0.66;
	filter: alpha(Opacity=66);
}
#pops-msg-box{
	border: 1px solid #333;
	background-color: #F7F7F7;
	padding: 2px 4px;
	z-index: 102;
}
#pops-tips-box IMG, 
#pops-msg-box IMG{/* <if has img> */
	border: 0;
	padding:0;
	margin: 0 4px 0 0;
	float: left;
}
#pops-page-box{
	z-index: 100;
}
#pops-closeBar-box{
	z-index: 100;
	width: 40px;
	text-align:center;
	z-index: 999;
}
#pops-closeBar-box a{
	padding: 2px 0;
	display: block;
	text-decoration: none;
	color: #FFF;
	background-color: #666;
}
#pops-cover{/* <cover> */
	width: 100%;
	height: 100%;
	background-color: #003399;
	z-index: 99;
	opacity: 0.4;
	filter: alpha(Opacity=40);
}