<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace the same Mapper interface -->
<mapper namespace="ningbo.media.website.mapper.SecondCategoryMapper">

	<resultMap type="SecondCategory" id="secondCategoryResultMap">
		<id property="id" column="id" />
		<result property="name_en" column="name_en" />
		<result property="name_cn" column="name_cn" />
		<result property="name_py" column="name_py" />
		<result property="firstId" column="category1Id" />
		<result property="keywords_cn" column="keywords_cn" />
		<result property="keywords_en" column="keywords_en" />
		<result property="description_cn" column="description_cn" />
		<result property="description_en" column="description_en" />
	</resultMap>



	<!-- resultType use the typeAliases of sqlMapConfig.xml -->
	<select id="getAll" resultType="list" resultMap="secondCategoryResultMap">
        <![CDATA[
            select * from o_category2
        ]]>
	</select>

	<select id="getSecondCategoryById" parameterType="string"
		resultType="SecondCategory" resultMap="secondCategoryResultMap">
		<![CDATA[
			select * from o_category2 where 1=1 and id = #{id}
		]]>
	</select>

	<select id="getSecondCategoryByFirstId" parameterType="int"
		resultType="list" resultMap="secondCategoryResultMap">
		<![CDATA[
			select * from o_category2 where 1=1 and category1Id = #{id}
		]]>
	</select>

	<insert id="addSecondCategory" parameterType="SecondCategory">
		insert into
		o_category2
		(name_en,name_cn,name_py,category1Id,keywords_cn,keywords_en,description_cn,description_en)
		values
		(#{name_en},#{name_cn},#{name_py},#{firstId},#{keywords_cn},#{keywords_en},#{description_cn},#{description_en})
	</insert>


</mapper>