<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	   
	    <!--	hsql	  -->  		
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:mem:light</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property> 
		
	    <!--	mysql	    
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/light</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property> 	
		-->
	    <!--	oracle	 		
	    <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:xe</property>
		<property name="connection.username">hr</property>
		<property name="connection.password">123456</property>		    	
		 --> 
		 
		<!-- configuration pool via c3p0--> 
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="c3p0.max_size">300</property> 
		<property name="c3p0.max_statements">0</property> 
		<property name="c3p0.min_size">10</property> 
		<property name="c3p0.timeout">100</property> <!-- seconds -->	
			    
		
		<!-- Use the Hibernate built-in pool for tests. -->
		<property name="connection.pool_size">1</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.connection.autocommit">true</property>
		
		<!-- Use EHCache but not the query cache. -->
		<property name="hibernate.cache.use_second_level_cache">false</property>	
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>	
		<property name="hibernate.query.substitutions">true=1 false=0</property>	
        <property name="hibernate.max_fetch_depth">3</property>	
        <property name="hibernate.cglib.use_reflection_optimizer">false</property>       
		<property name="hibernate.cache.use_query_cache">false</property>
		<property name="hibernate.cache.use_minimal_puts">false</property>
	    <property name="hibernate.connection.autocommit">true</property>
	    <property name="hibernate.connnection.charSet">utf8</property>
	    <!-- Print SQL to stdout. -->
		<property name="show_sql">false</property>

		<!-- mapping files. -->
		<mapping resource="org/light/portal/model/mapping/Portal.hbm.xml"/>
		<mapping resource="org/light/portal/model/mapping/Portlet.hbm.xml"/>		
		<mapping resource="org/light/portlets/group/Group.hbm.xml"/>
		<mapping resource="org/light/portlets/connection/Connection.hbm.xml"/>
		<mapping resource="org/light/portlets/chat/Chat.hbm.xml"/>		
		<mapping resource="org/light/portlets/forum/Forum.hbm.xml"/>
		<mapping resource="org/light/portlets/blog/Blog.hbm.xml"/>
		<mapping resource="org/light/portlets/ad/Ad.hbm.xml"/>
		<mapping resource="org/light/portlets/calendar/Calendar.hbm.xml"/>	
		<mapping resource="org/light/portlets/microblog/Microblog.hbm.xml"/>
	</session-factory>

</hibernate-configuration>