/*滚动广告的样式*/

#featured {
	OVERFLOW: hidden; WIDTH: 600px; POSITION: relative; HEIGHT: 310px
}
#featured img{
	width:600px;
	height:350px;
}
#featured .word {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; Z-INDEX: 10; 
	BACKGROUND: url(/1/bg_transparent.gif) no-repeat; 
	LEFT: 0px; 
	PADDING-BOTTOM: 5px; 
	WIDTH:560px; 
	COLOR: #fff; BOTTOM: 0px; 
	PADDING:10px 0 10px 40px; 
	POSITION: absolute; 
	HEIGHT: auto;
	background-color:#808080;
}
#featured .word H3 {
	FONT-SIZE: 13px;
	color:#ffffff;
}
.word p{
	color:#ffffff;
}
#featured .ui-els-hide {
	DISPLAY: none
}
#thumbs {
	WIDTH:560px; 
	LIST-STYLE-TYPE: none; 
	HEIGHT:45px;
	background-color:#808080;
	padding-left:40px
}
/*
* HTML #thumbs {
	HEIGHT: 100%
}*/
#thumbs LI {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 4px;MARGIN-bottom:10px;MARGIN-top:1px;
}
#thumbs UL {
	MARGIN-TOP: 3px;
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first {
	MARGIN: 5px 10px 0pt 15px; WIDTH: 20px; CURSOR: pointer; HEIGHT: 13px
}
#thumbs LI.last {
	MARGIN: 5px 12px 0pt 8px; WIDTH: 20px; CURSOR: pointer; HEIGHT: 13px
}
#thumbs LI A {
	BORDER-RIGHT: #9c9c9c 2px solid; 
	BORDER-TOP: #9c9c9c 2px solid;
	 DISPLAY: block; 
	 FONT-SIZE: 0px; 
	 BORDER-LEFT: #9c9c9c 2px solid; 
	 BORDER-BOTTOM: #9c9c9c 2px solid;
}
#thumbs LI A:hover {
	BORDER-RIGHT: #99cc33 2px solid; BORDER-TOP: #99cc33 2px solid; BORDER-LEFT: #99cc33 2px solid; BORDER-BOTTOM: #99cc33 2px solid
}
#thumbs LI A.current {
	BORDER: #5FC243 2px solid;
}
#thumbs img{
	width:30px;
	height:30px;
	overflow:hidden;
}
#thumbs LI.first IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#thumbs LI.last IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#topstory {
	BACKGROUND: #fff; FLOAT: left; WIDTH: 600px; HEIGHT: 270px;
}
#highlight {
	FLOAT:left;width:600px;height:350px;
}