A.coverBg190:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 190px; PADDING-TOP:95px; POSITION: absolute; HEIGHT: 95px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg190:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 190px; PADDING-TOP: 95px; POSITION: absolute; HEIGHT: 95px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg190:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 190px; PADDING-TOP: 95px; POSITION: absolute; HEIGHT: 95px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg190:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 190px; PADDING-TOP: 95px; POSITION: absolute; HEIGHT: 95px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg190:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg190:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg190:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg190:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg190:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg190:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}



A.coverBg75:link {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 75px; PADDING-TOP: 37.5px; POSITION: absolute; HEIGHT: 37.5px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg75:visited {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 75px; PADDING-TOP: 37.5px; POSITION: absolute; HEIGHT: 37.5px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg75:hover {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 75px; PADDING-TOP: 37.5px; POSITION: absolute; HEIGHT: 37.5px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg75:active {
	DISPLAY: block; FILTER: Alpha(Opacity=0); MARGIN-LEFT: 1px; WIDTH: 75px; PADDING-TOP: 37.5px; POSITION: absolute; HEIGHT: 37.5px; TEXT-ALIGN: center; opacity: 0
}
A.coverBg75:hover {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg75:active {
	FILTER: Alpha(Opacity=70); opacity: 0.7
}
A.coverBg75:link {
	BACKGROUND-COLOR: #fff
}
A.coverBg75:visited {
	BACKGROUND-COLOR: #fff
}
A.coverBg75:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}
A.coverBg75:active {
	COLOR: #fff; BACKGROUND-COLOR: #666666
}