/***************************************
 * author:可乐加糖
 * email:black.angel.liu@gmail.com
 ****************************************/

@import url("base.css");
@import url("adv.css");
@import url("index.css");



/*新闻的容器*/
#news{
	width:100%;
	float:left;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	padding-bottom:30px;
	padding-top:30px;
	margin-bottom:40px;
}
#news p{
	margin:5px;
	color:#878787;
}
#news p a{
	color:#878787;
	text-decoration:underline;
}
#news img{
	width:80px;
	height:80px;
	float:left;
	margin-right:10px;
}
.titlep{
	padding-bottom:10px;
	font-size:14px;
	font-weight:bold;
}


/*一个长的工具条，用于搜索的*/
#seackbar{
	margin-top:40px;
}
#seackbar input{
	width:410px;
	float:left;
}
#seackbar input a{
	float:left;
}
#seackbar ul{
	float:left;
	width:170px;
}
.seafirst{
	margin-right:0px;
	width:60px!important;
}
#seackbar ul li{
	float:left;
	width:18px;
}

/* ----------------google 提供的广告 --------------------*/
#googleAdv{
	margin-top:20px;
	width:600px;
}
#googleAdv ul{
	float:left;
}
#googleAdv ul li{
	width: auto;
	padding-left:2px;
	text-align:center;
	float:left;
}
#googleAdv ul li a{
	padding-right:2px;
}
#googleAdv .goolfirst{
	width:120px!important;
}





/*******图片详细*****/

#imageDetails{
width:600px;

}

#topimage{
width:600px;
}

#topimage ul{
float:left;
list-style-position:outside;
list-style:none;
list-style-type:none;
}
#topimage ul li{
float:left;
width:200px;
}

#imageUri{
width:600px;
}

#contentDatails{
width:560px;
padding-top:40px;
padding-left:40px;
}
#imageAuthor{
width:560px;
padding:40px 0 0 40px;
}
#imageAuthor_image{
width:60px;
height:60px;
overflow:hidden;
float:left;
}
#imageAuthor_content{
width:475px;
height:60px;
overflow:hidden;
padding-left:20px;
line-height:15px;
}

#rapport_photo{
width:600px;
margin-top:40px;
}


#Projects{
width:600px;
}
#other_photo{
width:600px;
}
.photo_title{
padding-left:20px;
}
.photo_list{
padding-bottom:45px;
padding-top:20px;
	width:100%;
}
.photo_list div ul{
	float:left;
}
.photo_list div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:100px;
	height:100px;
}
.photo_list div ul li img{
	width:100px;
	height:100px;
}

#res{
width:348px;
}

#res_list{
padding-bottom:20px;
padding-top:10px;
padding-left:40px;

}
#res_list div ul{
	float:left;
}
#res_list div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:70px;
	height:70px;
}
#res_list div ul li img{
	width:70px;
	height:70px;
}
/*标题*/
#res_title{
padding-left:40px;
}

#res_title a{
margin-left:150px;
}
#res_title h2{
float:left;
}