/***************************************
 * author:可乐加糖
 * email:black.angel.liu@gmail.com
 ****************************************/

@import url("base.css");
@import url("adv.css");
@import url("index.css");

/*---------------------内容左边---------------------------*/
#maincontent{
float:left;
width:960px;
height:auto;
}

#maincontent div{
	float:left;
	text-align:left;
}

#listleft{
width:180px;
}

#listleft ul{
	padding:1px;
	padding-left:10px;
}
#listleft ul li{
	height:10px;
	margin-bottom:5px;
}
#listleft ul li span{
	color:#605D5C;
}




/*---------------------中间秀场---------------------------*/
#listcenter{
width:600px;
}


#case_show{
padding:0px 0 0 5px;
width:595px;
}

#case_show_content{
float:left;
width:595px;
}

#case_show_content_detalied{
width:142px;
float:left;
padding:20px 0 0 5px;
}
#case_show_content_detalied p{
width:140px;	
float:left;
}
.xiazaikuang{
	border:1px solid #9E9E9E;
	height:14px;
	width:310px;
}
/*---------------------右边---------------------------*/

#listright{
width:160px;
padding-top:35px;
float:right
}

#listright div{
width:160px;
background:#000000;
height:600px;
}

#contentFoot_1{
text-align:left;
	width:960px;
	margin:0 auto;
	padding:0
}
#contentFoot_1_banner{

padding-left:180px;
padding-bottom:20px;
}

#contentFoot_1_author{
padding-left:180px;
padding-bottom:50px;
}
#contentFoot_1_author div ul{
	float:left;
}
#contentFoot_1_author div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:60px;
	height:60px;
}
#contentFoot_1_author div ul li img{
	width:60px;
	height:60px;
}

#contentFoot_1_org{
padding-left:180px;
padding-bottom:50px;
}

#contentFoot_1_org div ul{
	float:left;
}
#contentFoot_1_org div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:100px;
	height:100px;
}
#contentFoot_1_org div ul li img{
	width:100px;
	height:100px;
}
/********************下载搜索***********************************/
#downloadseach{
 margin-top:40px;
 width:960px;
}
#downloadseach ul{
	float:left;
	list-style:none;
	list-style-position:outside;
	list-style-type: none;
}
#downloadseach ul li{
	float:left;
	padding-right:5px;
	
}
.xiazaify{
	width:500px;
	padding-top:10px;
	float:left
}

#downloadseach_logo{
padding-bottom:10px;
padding-left:40px;
width:920px;

}

#downloadseach_image{
padding-left:40px;
width:920px;
}
#downloadseach_seach{
padding-top:30px;
padding-left:40px;
width:920px;
}

#downloadseach_hr{
padding-top:20px;
width:960px;
}
