/***************************************
 * author:可乐加糖
 * email:black.angel.liu@gmail.com
 ****************************************/

@import url("base.css");
@import url("adv.css");
@import url("index.css");


/*---------------------------------人物列表-------------------------*/
.userlist{
	margin-bottom:45px;
	width:100%;
}
.userlist div{
	
}



.userlist div ul{
	float:left;
}
.userlist div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:114px;
	height:114px;
}
.userlist div ul li img{
	width:114px;
	height:114px;
}

/*---------------------------------人物新闻tags-------------------------*/

#personNewsTags1{
width:290px;
height:80px;
float:left;
background:#FF3300;
margin-right:5px;
}
#personNewsTags2{
width:290px;
height:80px;
float:left;
background:#FF3300;
}

/*---------------------------------合作媒体-------------------------*/
#cooperation{
margin-top:40px;
width:100%;

}
#cooperation_media{
margin-left:20px;
}

#cooperation_media ul{
	float:left;
	list-style:none;
}

#cooperation_media ul li{
	float:left;
	text-align:left;
	margin-top:3px;
	color:#615F60;
}

#cooperation_media a{
	margin-left:300px;
	background:url(../images/more2.gif) left center no-repeat;
	padding-left:21px;
}

.cooperation_list{
	margin-bottom:45px;
	width:100%;
}
.cooperation_list div{
    margin-top:20px;
	margin-left:20px;
}

.cooperation_list div ul{
	float:left;
}
.cooperation_list div ul li{
	float:left;
	margin-top:5px;
	margin-right:5px;
	width:250px;
	height:100px;
}
.cooperation_list div ul li img{
	width:250px;
	height:100px;
}