
@import url("blogbackgroud.css");
body {
background: url(../images/background.jpg); background-repeat: repeat-x;
font-family:微软雅黑,宋体,Verdana,Arial,Tahoma;
font-size:12px;
color:#626262;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal; 
padding:0; margin:0;
}
dl,dt,dd,table,td,th,p,h1,h2,ul,li,html,h3,h4,h5,pre,form,input,a,img{
	margin:0;
	padding:0;
	list-style-type: none;
	text-decoration:none; border:none;
	color:#626262;
}

.container{ width:100%; height:100%; margin:0 auto}
.qqcontainer{ width:100%; height:auto; margin:0; padding:0;background:#8B8E8F}
.header{ width:100%; height:30px; background:#0C0C0E}
.hdbh{ width:100%; height:30px; margin:0 auto}
.facepic{ width:30px; height:26px; padding-left:5px; padding-top:4px; float:left}
.mingzi{ width:50px; line-height:30px; float:left; color:#83C325}
.topnava{ width:310px; line-height:30px; float:left; margin-left:5px; margin-right:8px}
.topnava ul li{ margin-left:5px; text-align:center;  float:left}
.topnava ul li a{ width:auto; height:20px; line-height:20px; color:#FFFFFF; display:block;background:#3A3733; float:left; margin-top:5px; padding:0 3px 0 3px }
.topnava ul li a:hover{background:#83C325}
.feixian{ width:275px; height:20px; float:left;background:#3A3733; margin-top:5px; margin-right:20px}
.xiangyou{ width:280px; float:right}
.topnavb{ width:220px; float:left; height:20px; padding-left:10px}
.topnavb ul li{ margin-left:3px;text-align:center; float:left;}
.topnavb ul li a{ color:#FFFFFF}
.topnavb ul li a{ width:auto; height:20px; line-height:20px; color:#FFFFFF; display:block; float:left; margin-top:5px; padding:0 1px 0 1px }
.topnavb ul li a:hover{background:#83C325}
.logo{ width:50px; height:20px; margin-top:7px; float:right}
/*--header--*/
.content{ width:960px; height:auto; margin:0 auto}
.toubu{ width:100%; height:180px; border-bottom:1px solid #9E9E9E; margin-top:5px}
.indextoubu{ width:100%; height:200px; border-bottom:1px solid #9E9E9E;}
.blacface{ width:110px; float:left; height:110px;}
.geirenzhongxin{ width:850px; height:auto; float:left} 
.danhang{ width:820px; height:70px; float:left; background:#0C0C0E; padding:40px 0 0 30px}
.geren{ width:600px; height:20px; color:#FFFFFF; line-height:20px}
.dz{width:600px; height:15px;color:#FFFFFF; line-height:15px; font-size:11px }
.blognav{ width:600px; height:30px; line-height:30px; color:#FFFFFF}
.blognav ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center}
.blognav ul li a{ color:#FFFFFF; padding-right:3px}
.blognav ul li a:hover{color:#83C325}
.wangzhi{ width:820px; height:60px; float:left; line-height:60px;color:#626262}
/*--toubu--*/
.shouy{ width:520px; height:192px; margin-top:100px; padding-left:440px; }
.main{ width:960px; height: auto; margin-top:30px;}
.mainbh{ width:960px; height: auto;border-bottom:1px solid #9E9E9E; float:left; padding-bottom:40px}
.bqmainbh{ width:960px; height: auto; float:left; padding-bottom:40px}
.leftsidebar{ width:130px; float:left; height: auto; float:left}
.genrenzhongsy{ width:90px; height:auto; padding-left:20px}
.sybiaoti{ width:90px; height:30px; line-height:30px;color:#626262}
.leftsidebar ul{ width:90px; height:auto; margin-top:20px}
.leftsidebar ul li a:hover{ color:#83C325}
.zhuti{ width:810px; height:auto; float:left}
.zhitibt{ width:810px; height:30px;line-height:30px;color:#626262; float:left}
.dangannav{ width:810px; height:20px; padding-top:60px; float:left}
.dangannav ul li{ width:auto; padding-right:2px ;float:left}
.dangannav ul li a{ color:#737373; font-weight:700}
.dangannav ul li a:hover{color:#83C325; font-weight:700}
.zhuyi{ width:810px; height:40px; font-size:12px; padding-top:20px; float:left}
.shezhi{ width:810px; height:40px; padding-top:30px; float:left}
.xiangpian{ width:60px; height:60px;float:left}
.xiangxi{ width:300px; height:55px; float:left; padding-left:15px; padding-top:5px}
.xiangxi ul li a{color:#626262}
.yuming{ width:810px; height:20px; padding-top:40px; font-weight:700; float:left}
.ymkuang{ width:180px; height:16px; border:1px solid #9D9B9C}
.baocun{ width:810px; height:20px;color:#83C325; padding-top:60px; float:left}
.baocun a{ width:150px; background:none; border:none; color:#83C325; text-align:left; text-decoration:underline}
/*--个人档案个性域名--*/
.blogbiaoqian{ width:150px; float:left; height: auto;}
.blogbiaoqian ul{ width:90px; height:auto;}
.blogbiaoqian ul li a:hover{ color:#83C325}
.blogweizhi{ width:810px; height:20px;}
.blogweizhi ul li{ width:auto; padding-right:2px ;float:left}
.blogweizhi ul li a{ color:#737373;}
.blogweizhi ul li a:hover{color:#83C325;}
.tiaozhuang{ width:810px; height:20px; padding-top:55px;color:#606060}
.bitiankuang{ width:300px; height:14px; border:1px solid #9D9B9C; color:#606060}
.bianqianan{ width:16px; height:16px; background:url(../images/jiantou.gif); border:none}
.xuanxiang{ width:567px; padding-left:33px; height:20px; padding-top:10px;}
.shuoming{ width:600px; height:20px; padding-top:20px}
.shuoming a{color:#606060;}
.chakanbiaoqian{width:600px; height:20px; padding-top:200px}
.chakanbiaoqian span{ font-weight:bold}
.chakanbiaoqian a{ color:#83C325; text-decoration:underline}
.zuji{width:810px; height:20px;padding-top:30px}
.faxian{ width:810px; height:20px; line-height:20px; float:left}
.faxian ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center }
.faxian a{ color:#606060;padding-right:3px}
/*--标签--*/
.danganzhuti{width:810px; height:auto; padding-left:150px}
.danganweizhi{width:810px; height:20px; padding-top:25px;color:#221D1C}
.danganweizhi ul li{ width:auto; padding-right:2px ;float:left}
.danganweizhi ul li a{ color:#221D1C;}
.danganweizhi ul li a:hover{color:#83C325; font-weight:700}
.bgwz{ width:420px; float:left; display:block}
.haoyou{ width: auto; float:right; display:block;}
.haoyou a{ color:#221D1C}
.datiaozhuang{width:810px; height:20px; padding-top:200px;color:#606060}
.danganxuanxiang{ width:810px; height:20px; padding-top:10px;}
.dachakanbiaoqian{width:600px; height:20px; padding-top:20px}
.dachakanbiaoqian span{ font-weight:bold}
.dachakanbiaoqian a{ color:#83C325; text-decoration:underline}
.dangannr{ width:810px; height:auto; padding-top:40px}
.dangannr p{ margin-top:20px}
.dangannr a{ color:#606060;}
/*--档案--*/
.jifeng{ width:600px; height:40px; padding-top:10px; float:left}
.jifeng span{ font-size:20px;}
.ckjifenguizhe{ width:810px; height:20px; padding-top:30px; float:left}
.ckjifenguizhe a{ color:#83C325; text-decoration:underline}
/*--积分--*/
.mizhuyi{ width:810px; height:40px; font-size:12px; padding-top:20px; margin-bottom:20px; float:left}
.jiumima{ width:600px; height:15px; padding-top:10px}
.mimakuang{ width:200px; height:14px;border:1px solid #9D9B9C; color:#606060}
/*--密码修改--*/
.yeshu{ width:810px; height: auto; padding-top:40px}
.yeshu ul { width:810px; height:20px}
.yeshu ul li{ float:left; padding-right:4px}
.yeshu ul li a{color:#606060; font-weight:bold}
.yeshu ul li a:hover{color:#83C325}
.shijianzhuti{ width:810px; height:85px; padding-top:40px}
.shijianzhuti ul li{ width:85px; height:85px; margin-right:5px; float:left; background:#A9A9A9}
.year{ width:810px; height:45px; padding-top:40px}
.qianyuefeng{ display:block; float:left; width:150px;}
.qianyuefengb{ display:block; float:left; width:150px;};
.qianyuefeng a{ color:#606060;}
.qianyuefengb a{ color:#606060;}
.ym{ width:290px; height:20px; padding-left:30px}
.gj{ width:200px; padding-left:90px}
.zhongjianyeshu{width:400px; height:45px; float:left; text-align:center;}
.zhongjianyeshu ul li{width:auto;display:inline; text-align:center; float:left; padding-right:2px }
.zhongjianyeshu ul li a{ color:#606060;}
.houyuefeng{ display:block; float:right; width:150px; text-align:right}
.houyuefeng a{ color:#606060;}
.houyuefengb{ float:right; width:150px; text-align:right}
.houyuefengb a{ color:#606060;}
.shijianzhutib{width:810px; height:355px; padding-top:40px}
.shijianzhutib ul li{ width:85px; height:85px; margin-right:5px; float:left; background:#A9A9A9; margin-top:5px}
.yueshu{width:810px; height: auto; padding-top:40px}
.yueshu ul { width:810px; height:20px}
.yueshu ul li{ float:left;}
.yueshu ul li a{color:#606060;}
.yueshu ul li a:hover{color:#83C325}
/*--个人时间--*/
.quyingweizhi{width:810px; height:20px;color:#221D1C; float:left}
.quyingweizhi ul li{ width:auto; padding-right:2px ;float:left}
.quyingweizhi ul li a{ color:#737373;}
.quyingweizhi ul li a:hover{color:#83C325; font-weight:700}
.qymingdang{ width:810px; height:auto; padding-top:30px; float:left}
.qymingdang dl{ width:105px; height:190px; float:left; margin:30px 5px 0 0}
.qymingdang dl dt{ width:105px; height:100px; background:#A9A9A9;float:left; margin-bottom:15px}
.qymingdang dl dd{ width:105px; height:16px; padding-top:2px; float:left}
.qymingdang dl dd a{color:#83C325; text-decoration:underline}
.cuti{ font-weight:bold}
.qyyear{ width:810px; height:45px; padding-top:50px; float:left}
.qyzhongjianyeshu{width:810px; height:20px; float:left;}
.qyzhongjianyeshu ul{ width:auto; height:20px; float:left; margin-right:15px}
.qyzhongjianyeshu ul li{width:auto;display:inline; text-align:center; float:left; padding-right:2px }
.qyzhongjianyeshu ul li a{ color:#606060;}
.qytiaozhuang{ width:810px; height:20px; padding-top:55px;color:#606060; float:left}
.qyxuanxiang{ width:810px; height:20px; padding-top:10px; float:left}
.qyzuji{width:810px; height:20px;padding-top:30px; float:left}
.qyfaxian{ width:810px; height:20px; line-height:20px; float:left}
.qyfaxian ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center }
.qyfaxian a{ color:#606060;padding-right:3px}
.qykuang{width:40px; height:16px; border:1px solid #9D9B9C}
.qymingdangb{ width:810px; height: auto; padding-top:30px; float:left}
.qymingdangb dl{ width:650px; height:110px; float:left; margin-top:30px}
.qymingdangb dl dt{ width:110px; height:110px; background:#A9A9A9;float:left; margin-right:30px}
.qymingdangb dl dd{ width:400px; height:16px; padding-top:2px; float:left}
.qymingdangb dl dd a{color:#83C325; text-decoration:underline}
/*--群英会--*/
.yaoqitibt{ width:810px; height:30px;line-height:30px;color:#626262; float:left}
.yaoqijifeng{ width:810px; height:20px;color:#83C325; float:left; padding-top:50px}
.yaoqingzhu{ width:810px; height: auto;color:#606060; float:left; padding-top:15px}
.fuzhilianjie{ width:810px; height:20px; float:left; padding-top:30px}
.yaoqingfz{ width:810px; height:20px; float:left; padding-top:30px}
.yaoqingfz a{color:#83C325; text-decoration: underline};
.fzkuang{ width:510px; height:16px; border:1px solid #9D9B9C}
/*--邀请好友生成链接--*/
.shoucanweizhi{width:810px; height:20px;color:#221D1C; float:left}
.scweizhi{ width:300px; float:left}
.shoucanweizhi ul.scweizhi li{ width:auto; padding-right:2px ;float:left}
.shoucanweizhi ul.scweizhi li a{ color:#737373;}
.shoucanweizhi ul.scweizhi li a:hover{color:#83C325;}
.scxuangxiang{width:auto; float: right; text-align: right}
.shoucanweizhi ul.scxuangxiang li{ width:auto; padding-right:2px ;float:left}
.shoucanweizhi ul.scxuangxiang li a{  color:#737373;}
.shoucanweizhi ul.scxuangxiang li a:hover{color:#83C325;}
.shoucanglb{ width:810px; height: auto ; padding-top:40px; float:left}
.shoucanglb ul{ width:760px; height:auto; float:left}
.shoucanglb ul li{ width:100px; height:100px; margin-right:5px; float:left; border:1px solid #A9A9A9; margin-top:5px}
.soucanzb{ margin-bottom:20px; text-align:right}
.soucanzbleft{ margin-bottom:20px; text-align:left}
.soucanleft{ width:130px; height:auto; float:left}
.soucanleft ul{ width:auto; text-align:left; margin-bottom:20px}
.soucanleftb{ width:110px; height:auto; float: left; padding-left:20px}
.shuidesoucang{ width:110px; height:20px; float:left;color:#626262; margin-bottom:25px}
.shuidesoucang a{color:#83C325;}
.shoucanglb dl{ width:810px; height:70px; float:left; margin-bottom:45px}
.shoucanglb dl dt{ width:70px; height:70px;border:1px solid #A9A9A9; float:left; margin-right:20px}
.shoucanglb dl dd{ width:550px; height: auto; padding-top:2px; float:left;}
.shoucanglb dl dd a{color:#83C325; text-decoration:underline}
.cscuti{ font-size:16px; width:auto; font-weight:700}
/*--收藏--*/
.rizhinr{ width:810px; height:auto; float:left;color:#626262; margin-bottom:30px}
.rizhibiaoti{ width:810px; height:20px; float:left; padding-top:40px; font-weight:700; font-size:14px}
.rizhibiaolujin{ width:810px; height:20px; padding-top:10px; float:left; margin-bottom:20px}
.rizhibiaolujin ul li{ width:auto; float:left; padding-right:2px}
.rizhibiaolujin ul li a{ padding-right:2px;color:#626262;} 
.zhengweng{ width:810px; height:auto; float:left;}
.zhengweng img{ width:310px; height:310px; float:left; margin-bottom:10px}
.zhengweng p{ width:650px; float:left}
.zhengweng p a{ width:650px;color:#626262;}
.rizhinr dl{ width:190px; height:265px; float:left; margin-top:30px; margin-right:8px}
.rizhinr dl dt{ width:190px; height:190px; background:#A9A9A9; float:left; margin-bottom:15px}
.rizhinr dl dd{ width:190px; height:18px; float:left; overflow:hidden}
.rizhinr dl dd a{color:#626262;}
/*--日志--*/
.pengyou{ width:650px; height:auto; float:left; padding-top:50px}
.pengyou dl{ width:75px; height:120px; float:left; margin-bottom:30px; padding-right:5px}
.pengyou dl dt{ width:75px; height:75px;border:#A9A9A9; float:left;}
.pengyou dl dd{ width:75px; height: auto; padding-top:2px; float:left;color:#626262;text-align: center;}
/*--朋友--*/
.gerenshoucang{ width:90px; height:30px;color:#626262; float:left}
.gerenshoucangbt{ width:820px; height:30px; color:#626262; float:left}
.grscxuangxiang{ width:810px; height:20px; color:#626262; float:left; padding-top:40px}
.scshexhi{ font-weight:700; margin-right:15px}
.xx{ width: auto; margin-left:10px}
.gerenzhoucanglb{ width:810px; height: auto ; padding-top:40px; float:left}
.gerenzhoucanglb dl{ width:810px; height:55px; float:left; margin-bottom:30px}
.gerenzhoucanglb dl dt{ width:55px; height:55px; background: #A9A9A9; float:left; margin-right:20px}
.gerenzhoucanglb dl dd{ width:550px; height: auto; padding-top:2px; float:left;}
.gerenzhoucanglb dl dd a{text-decoration:none;}
/*--个人中心留言、收藏管理--*/
.hyguanglibt{ width:300px; height:20px; float:left;}
.yhyjifeng{ width:130px; float:right; text-align:right }
.yhyjifeng a{color:#83C325; }
.zdyhaoyou{ width:810px; height:20px; float: right; padding-top:20px;}
.zdyhaoyou ul li{ float:left; padding-right:2px;}
.zdyhaoyou ul li a:hover{color:#83C325;}
.grhaohougl{ width:810px; height:auto; float:left; padding-top:60px}
.grhaohougl dl{ width:650px; height:82px; float:left; margin-bottom:30px}
.grhaohougl dl dt{ width:80px; height:80px;  border:1px solid #A9A9A9; float:left; margin-right:15px}
.grhaohougl dl dd{ width:520px; height:20px; float:left}
.grhaohougl dl dd a{color:#83C325; text-decoration:underline}
/*--个人中心好友管理--*/
.faburizhixx{ width:810px; height:20px; float:left; padding-top:50px}
.faburizhixx a{color:#83C325; }
.grzujilb{width:810px; height:auto; float:left; padding-top:50px }
.grzujilb dl{ width:810px; height:55px; float:left; margin-bottom:30px}
.grzujilb dl dt{ width:55px; height:55px; border:1px solid #A9A9A9; float:left; margin-right:20px}
.grzujilb dl dd{ width:550px; height: auto; padding-top:2px; float:left;}
.grzujilb dl dd a{color:#83C325; text-decoration:underline}
/*--个人足迹--*/
.zhutib{ width:820px; height:auto; float:right; padding-left:10px}
.wangzhib{ width:810px; height:60px; float:left; line-height:60px; color:#626262; }
.shoucanweizhib{width:770px; height:20px;color:#221D1C; float:left}
.scweizhi{ width:600px; float:left}
.shoucanweizhib ul li{ width:auto; padding-right:2px ;float:left}
.shoucanweizhib ul.scweizhi li a{ color:#737373;}
.shoucanweizhib ul.scweizhi li a:hover{color:#83C325;}
.scxuangxiangb{width:120px; float: right;}
.shoucanweizhib ul.scxuangxiangb li a{ color:#737373;}
.shoucanweizhib ul.scxuangxiangb li a:hover{color:#83C325;}
/*--风恪右--*/
.grdanganbt{ width:810px; height:20px; float:left}
.grdangan{ width:810px; height:25px; float:left; padding-top:40px; font-size:14px; font-weight:700}
.grdangan ul li{ float:left; padding-right:2px}
.grdangan ul li a:hover{color:#83C325;}
.grdanganzhu{ width:810px; height:60px; float:left; padding-top:15px}
.zhiye{ width:810px; height:auto; float:left}
.zhiyeb{width:810px; height:20px; float:left; margin-bottom:15px}
.zy{ width:220px; height:16px;  border:1px solid #9D9B9C; margin-right:10px;}
.grzhiye{ width:810px; height:auto; float:left; margin-bottom:10px}
.zhiyebaocun{ width:810px; height:20px; padding-top:30px; float:left}
.zhiyebaocun a{ color:#83C325; text-decoration:underline}
/*--个人档案职业选择--*/
.gexingshezhi{ width:810px; height:auto; float:left; padding-top:20px}
.yulan{ width:810px; height:auto; float:left; padding-top:40px}
.yulan ul li { float:left; padding-right:30px}
.yulan ul li a{ float:left; text-decoration: underline}
.yulanb{ width:810px; height:20px; float:left; padding-top:40px}
.yulanb ul li { float:left; width:auto; padding-right:30px}
.yulanb ul li a:hover{color:#83C325;}
/*--个性设置版式--*/
.xingxiangbt{ width:200px; height:15px; border:1px solid #9D9B9C;}
.xxnr{ width:568px; line-height:10px;border:1px solid #9D9B9C;}
/*--个人中心信件--*/
.beijingyanse{ width:810px; height:35px; float:left}
.picsc{ width:300px; height:20px;border:1px solid #9D9B9C; float:left}
.beijingyanse ul li{ float:left}
.scpic{ width:200px; height:20px}
.liulan{ width:45px;  height:20px;text-align:center; border-left:1px solid #9D9B9C; line-height:20px}
.beijingyanse ul li a:hover{ color:#83C325;}
.sc{ width:100px;border:1px solid #9D9B9C;}
.beijingyanseb{ width:810px; height:25px; float:left}
.fmweizhi{ width:260px; height:20px; float:left; margin-left:30px}
.jianju{ width:auto; padding-right:15px}
.danganggkuang{ width:810px; height:auto; float:left}
.grdanganshezhi{ width:400px; height:200px; float:left;border:1px solid #9D9B9C; color:#626262;}
.txshangchuang{ width:810px; height: auto; float:left}
.yx{ width:240px;border:1px solid #9D9B9C;}
.txdz{ width:380px;border:1px solid #9D9B9C;}
.qq{ width:150px;border:1px solid #9D9B9C;}
.sr{ width:80px; border:1px solid #9D9B9C;}
.lxkuang{ width:150px; border:1px solid #9D9B9C;}
.pbpl{ width:448px; height:250px}
.plkuang{ padding-top:10px}
.xxtongxun{ width:300px;border:1px solid #9D9B9C;}
.youbian{ width:250px;border:1px solid #9D9B9C;}
.wodejianjie{ width:400px; height:200px;border:1px solid #9D9B9C;}
.gequ{ width:236px;border:1px solid #9D9B9C;}
.ljdizhi{width:236px; height:60px;border:1px solid #9D9B9C; margin-bottom:15px}
.bofangqi{ width:236px; height:50px; margin-bottom:15px}
.yinyueqingdang{ width:600px; height:50px; float:left; padding-top:40px;border-bottom:1px solid #9D9B9C;}
.gequming{ width:570px; height:auto; padding:15px 0 10px 30px; border-bottom:1px solid #9D9B9C; float:left }
.quangxuan{ width:810px; height:30px; padding-top:10px; float:left; border-bottom:1px solid #9D9B9C}
.shouxingxikuang{ width:40px; height:30px;border:1px solid #9D9B9C; margin-bottom:10px; margin-right:5px}
.miaobian{ border-bottom:1px solid #9D9B9C; padding-bottom:15px}
.tianjialianjie{ width:810px; height:20px; padding-top:60px; float:left;color:#83C325;}
.mc{ width:328px;border:1px solid #9D9B9C;}
.ljjieshao{ width:328px; height:80px;border:1px solid #9D9B9C; margin-bottom:10px}
.plsx{ width:60px;border:1px solid #9D9B9C; margin-right:10px }
.gxliangjie{ width:810px; height:auto; float:left; padding-top:10px}
.bzlianj{ width:790px; height:auto; float:left; padding-top:20px; margin-top:10px;border-bottom:1px solid #9D9B9C;border-top:1px solid #9D9B9C; padding-left:20px;}
.ljbj{ width:65px;border:1px solid #9D9B9C;}
.ljjshao{ height:auto; padding-bottom:10px}
.indexnr{ width:650px; height:auto; float:left}
.indexnr dl{ width:190px; height:265px; float:left; margin-top:30px; margin-right:5px}
.indexnr dl dt{ width:190px; height:190px; border:1px solid #A9A9A9; float:left; margin-bottom:15px}
.indexnr dl dd{ width:190px; height:18px; float:left; overflow:hidden}
.indexnr dl dd a{color:#626262;}
.chakanqb{ width:810px; height:auto; float:left; padding-top:30px}
.all{ width:810px; height:40px; float:left}
.chakanqb dl{ width:75px; height:120px; float:left; padding-right:5px}
.chakanqb dl dt{ width:75px; height:75px;border:#A9A9A9; float:left;}
.chakanqb dl dd{ width:75px; height: auto; padding-top:2px; float:left;color:#626262;text-align: center;}

.chakanqbu{ width:810px; height:auto; float:left; padding-top:30px}
.chakanqbu ul{ width:810px; height:auto; margin-top:30px; float:left}
.chakanqbu ul li{ width:75px; height:75px; background:#9D9B9C; float:left; margin-bottom:5px; margin-right:5px}
.xjbiaoti{ width:810px; height:20px; margin-top:15px; padding-top:30px; float:left; font-size:14; font-weight:700; border-top:1px solid #A9A9A9;}
.zjrziliao{ width:650px; height:auto; float:left; padding-top:15px; border-bottom:1px solid #A9A9A9; padding-bottom:15px}
.zjrziliao ul{ width:580px; height:auto; float:left}
.cwpengyou{ width:650px; height:auto; float:left;padding-top:15px;padding-bottom:30px}
.cwpengyou ul{ width:250px; height:auto; padding-bottom:30px; border-bottom:1px solid #A9A9A9;}
.ly{ width:250px; height:auto; padding-bottom:20px; border-bottom:1px solid #A9A9A9; padding-top:20px}
.chengwei{ width:650px; height:20px; float:left}
.chengwei a{ text-decoration:underline}
.chengwei span{ color:#83C325;}
.sjtuangdui{ width:650px; height: auto; padding-top:20px; padding-bottom:20px;border-bottom:1px solid #A9A9A9; float:left}
.sjtuangdui a:hover{ color:#83C325;}
.nrpl{ width:650px; height:auto; float:left}
.grzxing{ width:360px; height:auto; float:left; margin-right:20px}
.zjfk{ width:260px; height:auto; float:left}
.grxx{ width:360px; height:20px; float:left}
.grzznav{ width:360px; height:80px; font-size:12px; font-weight:700; float:left;border-bottom:1px solid #A9A9A9; }
.grzznav ul li{ width:auto; float:left; padding-right:2px}
.grzznav ul li a{ color:#606060}
.grzxzuobian{ width:140px; height:auto; float:left; padding-left:15px}
.grzxbiaoti{ width:115px; height:20px; margin-bottom:15px}
.grzxdaohang{ width:115px; height:auto; margin-bottom:20px}
.grzxzuobian ul li a:hover{ color:#83C325;}
.grzxzhongjian{ width:460px; height:auto; float:left; padding-right:20px}
.information{ width:460px; height:auto; float:left;border-bottom:1px solid #A9A9A9; padding-bottom:35px;}
.grxingxibiaoti{ width:460px; height: auto; float:left}
.grxingxibiaoti span{ font-size:11px}
.grxingxinav{ width:460px; height:auto; float:left}
.grxingxinav ul{padding-top:15px; font-size: 14px;}
.grxingxinav ul li{ float:left;width: 65px;}
.grxingxinav ul li a{ font-weight:700} 
.grxingxinav ul li a:hover{ color:#83C325;}
.jinxiangshi{ width:460px; height:auto float:left; padding-top:30px; padding-bottom:30px;border-bottom:1px solid #A9A9A9;}
.tianjiao{ width:460px; height:auto; float:left; padding-top:30px;border-bottom:1px solid #A9A9A9; padding-bottom:35px;}
.grzxyoubian{ width:295px; height:auto; float: right}
.dongtai{ width:460px; height:auto; float:left; padding-top:30px}
.huoqidm{ width:295px; height:auto;}
.dmbiaoti{ width:295px; height:auto;}
.dmbiaoti span{ font-size:11px}
.jiangli{ width:295px; height:auto;color:#83C325; padding-top:15px;border-bottom:1px solid #A9A9A9; padding-bottom:35px}
.zuijingfk{ width:295px; height:auto; float:left; padding-top:30px}
.fktouxiang{ width:295px; height:auto; float:left; padding-top:20px}
.fktouxiang ul li{ width:40px; height:40px; float:left; background:#959595; margin-right:5px; margin-bottom:5px}
.grsousuo{ width:295px; height:auto; float:left; padding-top:40px}
.grss{ width:150px; height:14px;border:1px solid #A9A9A9; }
.ruhebianji{ width:800px; height: auto; padding-left:160px; padding-top:30px; padding-bottom:30px; float:left;border-bottom:1px solid #A9A9A9;}
.ruhebianji a{ color:#83C325; text-decoration:underline}
.ruhebianji span{ font-size:11px}
.lyyhm{ width:80px; height:14px;border:1px solid #A9A9A9;}
.fbly{ width:810px; height:auto; float:left; margin-top:10px}
.lynr{ width:498px; height:120px;border-left:1px solid #A9A9A9;border-right:1px solid #A9A9A9;border-bottom:1px solid #A9A9A9; border-top: none;color:#626262;}
.biaoqing{ width:810px; height:25px; float:left; padding-top:20px}
.biaoqing a{color:#83C325;}
.biaoqingkuang{ width:810px; height:auto; float:left; padding-top:20px}
.bgkuang{border-left:1px solid #A9A9A9;border-top:1px solid #A9A9A9;}
.hengxiang{border-bottom:1px solid #A9A9A9; border-right:1px solid #A9A9A9;}
.fbtouxiang{ width:150px; height:auto; float:left; margin-bottom:30px}
.fbtouxiang dl{ width:130px; height:auto; float:left}
.fbtouxiang dl dt{ width:110px; height:115px; background: #000000; float:left; margin-bottom:15px}
.fbtouxiang dl dd{ width:130px; height:20px; float:left; line-height:16px}
.fbtouxiang dl dd a{ text-decoration:none;}
.fbtouxiangb{ width:150px; height:auto; float:left; margin-bottom:30px}
.fbtouxiangb dl{ width:130px; height:auto; float:left; padding-left:20px}
.fbtouxiangb dl dt{ width:130px; height:130px; background: #000000; float:left; margin-bottom:15px}
.fbtouxiangb dl dd{ width:130px; height:20px; float:left; line-height:16px}
.fbtouxiangb dl dd a{color:#83C325; text-decoration:underline}
.wezhanglb{ width:810px; height:auto; float:left; padding-top:30px}
.wezhangzw{ width:810px; height:auto; float:left; padding-top:20px}
.wezhangzw p{ width:650px; height:auto; float:left; padding-top:20px}
.wezhangbiaoti{ width:810px; float:left; height:auto; font-size:16px; font-weight:700}
.ding{ width:810px; height:70px; float:left; padding-top:20px}
.pianfu{ width:810px; height:auto; float:left; padding-top:40px; padding-bottom:20px;border-bottom:1px solid #A9A9A9;}
.shangxiapian{ width:660px; height:auto; float:left}
.shangxiapian ul li{ width:450px; height:20px; }
.xiaoxuanxiang{ width:150px; height:auto; float:left}
.xiaoxuanxiang ul li{ width:20px; padding-right:3px; float:left}
.wengzhangfk{ width:810px; height:auto; padding-top:30px;; float:left}
.fk{ width:660px; height:auto; float:left; font-weight:700}
.fk ul li{ float:left}
.ckqb{ width:90px; height:auto; float:left;font-weight:700}
.lftouxiang{ width:810px; height:auto; float:left; padding-top:30px}
.lftouxiang ul li{ width:50px; height:50px; float:left; margin-right:5px; margin-bottom:5px; background:#A9A9A9}
.fkrs{ width:810px; height:20px; padding-top:30px; float:left; font-weight:700}
.fkrs ul li{ float:left;}
.plzhu{ width:810px; height:20px; float:left}
.jilu{ width:750px; height:auto; float:left; padding-left:20px; margin-bottom:20px}
.jilu ul{ width:750px; height:auto; float:left; }
.jilu ul li{ float:left; font-size:14px; font-weight:700}
.fbshijian{ width:130px;border:1px solid #A9A9A9;}
.fbztimu{ width:260px; height:16px;border:1px solid #A9A9A9;}
.fl{ width:110px; height:18px;border:1px solid #A9A9A9; color:#626262;}
.ziyanse a{ color:#FFFFFF; width:360px}
.fbnr{ width:390px; height:300px;border-right:1px solid #A9A9A9;border-left:1px solid #A9A9A9;border-bottom:1px solid #A9A9A9;border-top: none; margin-bottom:10px; color:#626262;}
.bqbkuang{ width:160px; height:auto; padding-left:10px}
.bqkuang{border-left:1px solid #A9A9A9;border-top:1px solid #A9A9A9;}
.fbbqing{border-right:1px solid #A9A9A9;border-bottom:1px solid #A9A9A9;}
.liul{ width:60px; height:19px; background:#0C0C0E; color:#FFFFFF;}
.queren{ width:810px; height:auto; float:left; padding-left:100px; padding-top:20px;border-top:1px solid #A9A9A9;}
.queren a{ width:auto; padding-right:30px; font-size:14px}
.queren a:hover{color:#83C325; }
.qqiuwkuang{ width:400px; height:400px; margin:0 auto; background:#525457; padding:10px; margin-top:100px}
.qqiukuangb{ width:390px; height:390px; background:#1E1916; padding:5px}
.qqiukuangc{width:390px; height:390px; background:#FFFFFF}
.qqiutools{ width:150px; height:30px ; padding-top:10px; padding-left:230px}
.qqiutools ul li{ width:auto; padding-left:2px; float:left}
.request{ width:360px; height:auto; padding-left:20px; padding-top:10px}
.request a{color:#83C325;; text-decoration:underline}
.qqyonghuming{ width:370px; height:auto; padding-left:20px; padding-top:30px}
.qqyonghuming dl{ width:320px; height:80px;}
.qqyonghuming dl dt{ width:80px; height:80px; float:left}
.qqyonghuming dl dd { width:200px; height:15px; float:left; padding-left:10px; padding-top:5px}
.qqyonghuming dl dd a{color:#83C325; text-decoration:underline}
.accept{ width:370px; height:20px;padding-left:20px; padding-top:30px}
.accept ul li{ width:auto; float:left; padding-right:15px}
.accept ul li a:hover{color:#83C325;}
.fasong{ width:330px; height:110px;border:1px solid #A9A9A9; color:#626262 }
.footer{ width:960px; height:100px; clear:left; text-align:center; padding-top:80px}
.bottomnav{ width:600px; height:20px; margin:0 auto}
.bottomnav ul li{display:inline; width:auto; padding-right:5px; text-align:center}
.bottomnav ul li a{ color:#606060; padding-right:3px}
/*粉丝团*/
.fengsituan1{ width:810px; height:auto; float:left; padding-top:60px}
.fengsituan1 dl{  width:67px; height:120px; float:left; margin-bottom:30px; padding-right:10px}
.fengsituan1 dl dt{ width:75px; height:75px;border:#A9A9A9; float:left;}
.fengsituan1 dl dd{ width:75px; height: auto; padding-top:2px; float:left;color:#626262;text-align: center;}
/*职业*/
.works{ width:650px; height:auto; padding-top:30px; float:left}
.works dl{ width:800px; height: 120px; padding-bottom:20px;}
.works dl dt{ width:800px; height:40px; font-size:14px; font-weight:bold;}
.works dl dd{ width:125px; height:30px; padding-top:2px; float:left; font-size:14px;}


