body {
background: url(../images/background.jpg); background-repeat: repeat-x;
font-family:微软雅黑,宋体,Verdana,Arial,Tahoma;
font-size:12px;
color:#626262;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal; 
padding:0; margin:0;
}
dl,dt,dd,table,td,th,p,h1,h2,ul,li,html,h3,h4,h5,form,input,a,img{
	margin:0;
	padding:0;
	list-style-type: none;
	text-decoration:none; border:none;
	color:#626262;
}

.container{ width:100%; height:auto; margin:0 auto}
.header{ width:1000px; height: auto;}
.headernb{ width:960px; height:70px; margin:0 auto; padding-top:20px}
.jhlogo{ width:112px; height:70px; float:left; text-align:left}
.dibunav{width:540px; height:70px; float:left; padding-left:30px;text-align:left}
.riqi{ width:480px; height:20px; text-align:left}
.topnav{ width:480px; height:30px}
.topnav ul li{ width:auto; padding-right:5px; float:left}
.topnav ul li a{font-weight:700; color:#0C0C0E}
.topnav ul li a:hover{color:#83C325}
.topnav ul li span {color:#0C0C0E;}
.zuonav{width:270px; height:70px;float:left}
.youdh{ width:270px; height:20px;}
.youdh ul li{ width:auto; padding-right:10px; float:right; }
.ss{ width:270px; height:30px;}
.indexss{ width:240px;border:1px solid #9E9E9E; height:14px}
.hd{ width:100%; height:30px; background:#0C0C0E; padding-top:8px}
.navbh{ width:960px; height:auto; margin:0 auto;}
.navbh ul{ width:820px;
	margin-left:140px;
	*margin-left:140px!important;
	*margin-left:70px;
float:left; padding:0}
.navbh ul li{ width:auto; float:left; padding-left:1px}
.navbh ul li a{ color:#FFFFFF; padding-right:1px}
.navbh ul li span {color:#FFFFFF;}
.facepic{ width:30px; height:26px; padding-left:5px; padding-top:4px; float:left}
.mingzi{ width:50px; line-height:30px; float:left; color:#83C325}


.topnava ul li a:hover{background:#83C325}
.feixian{ width:290px; height:20px; float:left;background:#3A3733; margin-top:5px}
.topnavb{ width:215px; float:left; margin-left:10px}
.topnavb ul li{ margin-left:3px;text-align:center; float:left;}
.topnavb ul li a{ color:#FFFFFF}
.topnavb ul li a{ width:auto; height:20px; line-height:20px; color:#FFFFFF; display:block; float:left; margin-top:5px; padding:0 1px 0 1px }
.topnavb ul li a:hover{background:#83C325}
.logo{ width:50px; height:20px; margin-top:7px; float:left}
.all{ width:110px; height:20px;; margin-bottom:20px}
.allb{ width:110px; height:20px;; margin-bottom:20px; font-weight:700}
.all a{ color:#83C325 }
.zb{ width:110px; height:auto; padding-top:20px}
.qyyear{ width:780px; height:45px; padding-top:50px; float:left}
.qyzhongjianyeshu{width:780px; height:20px; float:left;}
.qyzhongjianyeshu ul{ width:auto; height:20px; float:left; margin-right:15px}
.qyzhongjianyeshu ul li{width:auto;display:inline; text-align:center; float:left; padding-right:2px }
.qyzhongjianyeshu ul li a{ color:#606060;}
.qykuang{width:40px; height:16px; border:1px solid #9D9B9C}
.qytiaozhuang{ width:780px; height:20px; padding-top:55px;color:#606060; float:left}
.qyxuanxiang{ width:780px; height:20px; padding-top:10px; float:left}
.qyzuji{width:780px; height:20px;padding-top:30px; float:left}
.faxian{ width:780px; height:20px; line-height:20px}
.faxian ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center }
.faxian a{ color:#606060;padding-right:3px}
.qyfaxian{ width:780px; height:20px; line-height:20px; float:left}
.qyfaxian ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center }
.qyfaxian a{ color:#606060;padding-right:3px}
.shoucanweizhi{width:780px; height:20px;color:#221D1C; float:left}
.zhubiao{ width:780px; height:20px; padding-top:20px; float:left}


/*--header--*/
.content{ width:960px; height:auto; margin:0 auto}
.toubu{ width:100%; height:140px; border-bottom:1px solid #9E9E9E; margin-top:5px}
.indextoubu{ width:100%; height:200px; border-bottom:1px solid #9E9E9E;}
.blacface{ width:110px; float:left; height:130px;}
.geirenzhongxin{ width:800px; height:auto; float:left}
.danhang{ width:960px; height:90px; float:left; background:#0C0C0E;8}
.geren{ width:600px; height:20px; color:#FFFFFF; line-height:20px}
.dz{width:600px; height:15px;color:#FFFFFF; line-height:15px; font-size:11px }
.blognav{ width:600px; height:30px; line-height:30px; color:#FFFFFF}
.blognav ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center}
.blognav ul li a{ color:#FFFFFF; padding-right:3px}
.blognav ul li a:hover{color:#83C325}
.wangzhi{ width:820px; height:40px; float:left; line-height:60px;padding-left:140px; color:#626262}
.wangzhi ul li{ float:left}
.zhuti{ width:780px; height:auto; float:left}
.zhitibt{ width:780px; height:30px;line-height:30px;color:#626262; float:left}
.shoucanglb{ width:780px; height: auto ; padding-top:40px; float:left}
.shoucanglb dl{ width:75px; height: auto; float:left; margin-bottom:20px; margin-right:5px}
.shoucanglb dl dt{ width:75px; height:75px; background:#9E9E9E; float:left; margin-bottom:10px}
.shoucanglb dl dd{ width:75px; height:18px; float:left;}
.indexbiaoti{ width:780px; height:30px}
.zhuyeweizhi{ width:780px; height:30px; float:left}
.zhuyeweizhi ul li{ float:left}
.zhuyeweizhi ul li a:hover{color:#83C325}
.zhuyexx{ width:100px; height:30px; float:right}
.zhuyexx ul li{ float:left}
.di{ width:960px; height:80px; background:#0C0C0E; float:left}
.didaohang{ width:960px; height:40px; line-height:40px;}
.didaohang ul li{ width:auto; float:left}
.didaohang ul li a{ padding-left:2px; padding-right:2px}



/*--toubu--*/
.shouy{ width:360px; height:192px; margin-top:100px; padding-left:440px; }
.main{ width:800px; height: auto; margin-top:30px;}
.mainbh{ width:800px; height: auto;border-bottom:1px solid #9E9E9E; float:left; padding-bottom:40px}
.bqmainbh{ width:960px; height: auto; float:left; padding-bottom:40px}
.leftsidebar{ width:130px; float:left; height: auto;padding-left:20px; float:left}
.genrenzhongsy{ width:90px; height:auto; padding-left:20px}
.sybiaoti{ width:90px; height:30px; line-height:30px;color:#626262}
.leftsidebar ul{ width:90px; height:auto; margin-top:20px}
.leftsidebar ul li a:hover{ color:#83C325}
.dangannav ul li{ width:auto; padding-right:2px ;float:left}
.dangannav ul li a{ color:#737373; font-weight:700}
.dangannav ul li a:hover{color:#83C325; font-weight:700}
.zhuyi{ width:600px; height:40px; font-size:11px; padding-top:20px}
.shezhi{ width:600px; height:40px; padding-top:30px}
.xiangpian{ width:60px; height:60px;float:left}
.xiangxi{ width:300px; height:55px; float:left; padding-left:15px; padding-top:5px}
.xiangxi ul li a{color:#626262}
.yuming{ width:600px; height:20px; padding-top:40px; font-weight:700}
.ymkuang{ width:180px; height:16px; border:1px solid #9D9B9C}
.baocun{ width:600px; height:20px;color:#83C325; padding-top:60px}
.baocun a{ width:150px; background:none; border:none; color:#83C325; text-align:left; text-decoration:underline}
/*--个人档案个性域名--*/
.blogbiaoqian{ width:160px; float:left; height: auto; margin-right:20px;}
.blogbiaoqian ul{ width:90px; height:auto;}
.blogbiaoqian ul li a:hover{ color:#83C325}
.blogweizhi{ width:600px; height:20px;}
.blogweizhi ul li{ width:auto; padding-right:2px ;float:left}
.blogweizhi ul li a{ color:#737373;}
.blogweizhi ul li a:hover{color:#83C325; font-weight:700}
.tiaozhuang{ width:600px; height:20px; padding-top:55px;color:#606060}
.bitiankuang{ width:300px; height:14px; border:1px solid #9D9B9C; color:#606060}
.bianqianan{ width:16px; height:16px; background:url(../images/jiantou.gif); border:none}
.xuanxiang{ width:567px; padding-left:33px; height:20px; padding-top:10px;}
.shuoming{ width:600px; height:20px; padding-top:20px}
.shuoming a{color:#606060;}
.chakanbiaoqian{width:600px; height:20px; padding-top:300px}
.chakanbiaoqian span{ font-weight:bold}
.chakanbiaoqian a{ color:#83C325; text-decoration:underline}
.zuji{width:600px; height:20px;padding-top:30px}
.faxian{ width:600px; height:20px; line-height:20px}
.faxian ul li{ width:auto; float:left; padding:0 2px 0 2px; text-align:center }
.faxian a{ color:#606060;padding-right:3px}
/*--标签--*/
.xinyonghu{ width:750px; height:auto ; float:left; padding-left:20px; font-size:12px}
.bigsize{font-size:13px}
.tianxieziliao{ width:750px; height:auto; float:left;padding-left:20px; }
.tianxieziliao ul li{ width:auto; padding-right:30px; float:left;}
.tianxieziliao ul li a{ color:#83C325;}
.tishi{ width:750px; height:auto;padding-left:20px; padding-top:30px; float:left}
.zhucebiao{ width:750px; height:auto; float:left; padding-top:40px;padding-left:20px;}
.yaoqingma{ width:180px; height:14px;border:1px solid #9D9B9C; }
.xingbie{ margin-left:20px}
.xunzhao{ width:750px; height:auto; padding-top:30px;margin-bottom:30px}
.join{ color:#83C325; text-decoration:underline}
.zzbiaoti{ width:750px; height:20px; padding-bottom:20px}
.xinxi{ width:960px; height:auto; padding-top:20px;}
.gongxi{ width:750px; height:200px; float:left; padding-top:20px;color:#83C325;padding-left:20px;}
.juqz{ width:400px; height:auto; float:left}
.juqzb{ width:150px; height:auto; float: right}
.shoucanglb{ width:780px; height:auto; padding-top:30px; float:left}
.shoucanglb dl{ width:105px; height:190px; float:left; margin:30px 5px 0 0}
.shoucanglb dl dt{ width:105px; height:100px; background:#A9A9A9;float:left; margin-bottom:15px}
.shoucanglb dl dd{ width:105px; height:16px; padding-top:2px; float:left}
.shoucanglb dl dd a{color:#83C325; text-decoration:underline}
.qymingdangheng{ width:600px; height: auto; padding-top:30px; float:left}
.qymingdangheng dl{ width:600px; height:110px; float:left; margin-top:30px}
.qymingdangheng dl dt{ width:110px; height:110px; background:#A9A9A9;float:left; margin-right:30px}
.qymingdangheng dl dd{ width:400px; height:16px; padding-top:2px; float:left}
.qymingdangheng dl dd a{color:#83C325; text-decoration:underline}
.quangzidh{ width:600px; height:auto; float:left; padding-top:20px}
.quangzidh ul{ width:600px; height:auto; float:left}
.quangzidh ul li{ width:auto; padding-right:3px; float:left}
.quangzidh ul li a{ width:auto; padding-right:3px;}
.quangzidh ul li a:hover{color:#83C325;}
.footer{ width:960px; height: auto; clear:left; text-align:left}
.dilogo{ width:960px; height:35px; text-align:left}
.bottomnav{ width:600px; height:20px; margin:0 auto}
.bottomnav ul li{display:inline; width:auto; padding-right:5px; text-align:center}
.bottomnav ul li a{ color:#606060; padding-right:3px; }






