/***************************************
 * author:可乐加糖
 * email:black.angel.liu@gmail.com
 ****************************************/

@import url("base.css");
@import url("adv.css");
@import url("newslist.css");


#tagUlList{
padding-left:45px;
padding-top:40px;
}


/*列表显示*/
.tagnews{
	padding-left:45px;
	margin-top:20px;
}
.tagnews .tagnewsleft{
	
}
.tagnews .tagnewsleft img{
	width:35px;
	height:35px;
}
.tagnews .tagnewsright{
	margin-left:24px;
	width:300px;
	height:35px; 
	overflow:hidden
}
.tagnews .tagnewsright h3{
	color:#878787;
}
.tagnews .tagnewsright h4{
	margin-top:2px;
	color:#878787;
}
.tagnews .tagnewsright p{
	margin-top:5px;
	width:350px;
	color:#878787;
}