<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="CmsTagCategory">

	<resultMap id="CmsTagCategoryResult" type="cn.mmbook.platform.model.tag.CmsTagCategory">
              <result property="id" column="ID_" />				
              <result property="templetId" column="TEMPLET_ID_" />				
              <result property="categoryId" column="CATEGORY_ID_" />				
              <result property="tagName" column="TAG_NAME_" />				
              <result property="rowNum" column="ROW_NUM_" />				
              <result property="tagExp" column="TAG_EXP_" />				
              <result property="versionId" column="VERSION_ID_" />
              <result property="tagSort" column="tag_sort_" />
              <result property="templetName" column="templetName" />
	</resultMap>
	<!-- qiongguo add -->
	<resultMap id="NewCmsTagCategoryResult" type="cn.mmbook.platform.model.tag.CmsTagCategory">
              <result property="id" column="ID_" />
              <result property="templetId" column="TEMPLET_ID_" />
              <result property="categoryId" column="CATEGORY_ID_" />
              <result property="tagName" column="TAG_NAME_" />
              <result property="rowNum" column="ROW_NUM_" />
              <result property="tagExp" column="TAG_EXP_" />
              <result property="tagSort" column="tag_sort_" />
              <result property="versionId" column="VERSION_ID_" />
              
              <association property="cmsTemplet" column="CmsTemplet_ID_" javaType="cn.mmbook.platform.model.tag.CmsTemplet" resultMap="NewCmsTempletResult" />			
	</resultMap>
	 
	
	<resultMap id="NewCmsTempletResult" type="cn.mmbook.platform.model.tag.CmsTemplet">
              <result property="id" column="Templet_ID_" />
              <result property="templetName" column="TEMPLET_NAME_" />
              <result property="templetType" column="TEMPLET_TYPE_" />
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="cmsTagCategoryColumns">
	    <![CDATA[
        	id_ AS id,
        	templet_id_ AS templetId,
        	category_id_ AS categoryId,
        	tag_name_ AS tagName,
        	row_num_ AS "rowNum",
        	tag_exp_ AS tagExp,
        	version_id_ AS versionId,
        	tag_sort_ as tagSort,
        	(select t1.templet_name_ from tg_cms_templet t1 where t1.id_=templet_id_) as templetName
	    ]]>
	</sql>
	

	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.tag.CmsTagCategory" >
        INSERT INTO
        tg_cms_tag_category (
        	id_ ,
        	templet_id_ ,
        	category_id_ ,
        	tag_name_ ,
        	row_num_ ,
        	tag_exp_ ,
        	version_id_,
        	tag_sort_
        ) VALUES (
        	#{id,jdbcType=VARCHAR} ,
        	#{templetId,jdbcType=VARCHAR} ,
        	#{categoryId,jdbcType=VARCHAR} ,
        	#{tagName,jdbcType=VARCHAR} ,
        	#{rowNum,jdbcType=DECIMAL} ,
        	#{tagExp,jdbcType=VARCHAR} ,
        	#{versionId,jdbcType=VARCHAR},
        	#{tagSort,jdbcType=VARCHAR} 
        )
	</insert>
	
	<update id="update" parameterType="cn.mmbook.platform.model.tag.CmsTagCategory">
 
        UPDATE tg_cms_tag_category SET
	        <if test="@Ognl@isNotEmpty(templetId)">
				templet_id_ = #{templetId,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(categoryId)">
				 category_id_ = #{categoryId,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(tagName)">
				tag_name_ = #{tagName,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(rowNum)">
				row_num_ = #{rowNum,jdbcType=DECIMAL},
			</if>
	        <if test="@Ognl@isNotEmpty(tagExp)">
				 tag_exp_ = #{tagExp,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(versionId)">
				version_id_ = #{versionId,jdbcType=VARCHAR},
			</if>
	        <if test="@Ognl@isNotEmpty(tagSort)">
				tag_sort_ = #{tagSort,jdbcType=VARCHAR},
			</if>
			id_=id_
        WHERE 
	        id_ = #{id}
    
	</update>

    <delete id="delete" parameterType="java.lang.String">
    <![CDATA[
        DELETE FROM tg_cms_tag_category WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.String" resultMap="CmsTagCategoryResult">
		SELECT <include refid="cmsTagCategoryColumns" />
	    <![CDATA[
		    FROM tg_cms_tag_category 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
	
	<!-- qiongguo update like  -->
	<sql id="cmsTagCategoryDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(templetId)">
				AND templet_id_ = #{templetId}
			</if>
	       <if test="@Ognl@isNotEmpty(categoryId)">
				AND category_id_ = #{categoryId}
			</if>
	       <if test="@Ognl@isNotEmpty(tagName)">
				AND tag_name_ like '%${tagName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(rowNum)">
				AND row_num_ = #{rowNum}
			</if>
	       <if test="@Ognl@isNotEmpty(tagExp)">
				AND tag_exp_ like '%${tagExp}%'
			</if>
	       <if test="@Ognl@isNotEmpty(versionId)">
				AND version_id_ = #{versionId}
			</if>
	       <if test="@Ognl@isNotEmpty(tagSort)">
				AND tag_sort_ = #{tagSort}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tg_cms_tag_category 
		<include refid="cmsTagCategoryDynamicWhere"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="CmsTagCategoryResult">
    	SELECT <include refid="cmsTagCategoryColumns" />
	    FROM tg_cms_tag_category 
		<include refid="cmsTagCategoryDynamicWhere"/>
		<choose>
			<when test="@Ognl@isNotEmpty(sortColumns)">
			   ORDER BY ${sortColumns}
			</when>
			<otherwise>
			  ORDER BY to_number(id_) DESC
			</otherwise>
	   </choose>
    </select>

	<!-- qiongguo get cms tag category list 2009-07-05 add -->
    <select id="getList"  resultMap="CmsTagCategoryResult">
		SELECT <include refid="cmsTagCategoryColumns" /> 
		    FROM tg_cms_tag_category 
	        <include refid="cmsTagCategoryDynamicWhere"/> 
	</select>


    <select id="countNew" resultType="long">
        SELECT COUNT(1) FROM tg_cms_tag_category t1, tg_cms_category t2, tg_cms_templet t3
		where t1.category_id_ = t2.id_ and t1.templet_id_=t3.id_
		   <if test="@Ognl@isNotEmpty(tagName)">
				AND t1.tag_name_ like '%${tagName}%'
			</if>
		   <if test="@Ognl@isNotEmpty(categoryName)">
				AND t2.CATEGORY_NAME_ like '%${categoryName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(tagSort)">
				AND t1.tag_sort_ = #{tagSort}
			</if>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelectNew" resultMap="NewCmsTagCategoryResult">
    	SELECT 
        	t1.id_ AS id,
        	t1.templet_id_ AS templetId,
        	t1.category_id_ AS categoryId,
        	t1.tag_name_ AS tagName,
        	t1.row_num_ AS "rowNum",
        	t1.tag_exp_ AS tagExp,
        	t1.version_id_ AS versionId,
        	t2.id_ AS Category_ID_,
        	t2.CATEGORY_NAME_ AS categoryName,
        	t3.id_ AS Templet_ID_,
        	t3.TEMPLET_NAME_ AS templetName,
        	t3.TEMPLET_TYPE_ AS templetType,
        	t1.tag_sort_ as tagSort
	    FROM tg_cms_tag_category t1, tg_cms_category t2, tg_cms_templet t3
		where t1.category_id_ = t2.id_ and t1.templet_id_=t3.id_
		   <if test="@Ognl@isNotEmpty(tagName)">
				AND t1.tag_name_ like '%${tagName}%'
			</if>
		   <if test="@Ognl@isNotEmpty(categoryName)">
				AND t2.CATEGORY_NAME_ like '%${categoryName}%'
			</if>
	       <if test="@Ognl@isNotEmpty(tagSort)">
				AND t1.tag_sort_ = #{tagSort}
			</if>			
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

    <select id="getCmsTagCategoryByTagName" parameterType="java.lang.String" resultMap="CmsTagCategoryResult">
		SELECT <include refid="cmsTagCategoryColumns" />
		    FROM tg_cms_tag_category 
	        WHERE 
		        tag_name_ = #{tagName} 
	</select>

	<!-- get max id -->
	<select id="getMaxId" resultType="java.lang.String">
       select id_ from tg_cms_tag_category  order by convert(id_ ,signed )   desc  limit   0,1
	</select>
 

</mapper>
