<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="SiteMessage">

	<resultMap id="SiteMessageResult" type="cn.mmbook.platform.model.manage.SiteMessage">
              <result property="id" column="id_" />				
              <result property="messageTitle" column="message_title_" />				
              <result property="messageContent" column="message_content_" />				
              <result property="replyId" column="reply_id_" />				
              <result property="messageUser" column="message_user_" />				
              <result property="messageType" column="message_type_" />				
              <result property="whetherReader" column="whether_reader_" />				
              <result property="whetherReply" column="whether_reply_" />				
              <result property="insertTime" column="insert_time_" />				
	</resultMap>

	<!-- 用于select查询公用抽取的列 -->
	<sql id="siteMessageColumns">
	    <![CDATA[
        	id_ AS id,
        	message_title_ AS messageTitle,
        	message_content_ AS messageContent,
        	reply_id_ AS replyId,
        	message_user_ AS messageUser,
        	message_type_ AS messageType,
        	whether_reader_ AS whetherReader,
        	whether_reply_ AS whetherReply,
        	insert_time_ AS insertTime
	    ]]>
	</sql>
	
	
	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" parameterType="cn.mmbook.platform.model.manage.SiteMessage" >
        INSERT INTO
        tb_site_message_info (
        	message_title_ ,
        	message_content_ ,
        	reply_id_ ,
        	message_user_ ,
        	message_type_ ,
        	whether_reader_ ,
        	whether_reply_ ,
        	insert_time_ 
        ) VALUES (
        	#{messageTitle,jdbcType=VARCHAR} ,
        	#{messageContent,jdbcType=VARCHAR} ,
        	#{replyId,jdbcType=INTEGER} ,
        	#{messageUser,jdbcType=INTEGER} ,
        	#{messageType,jdbcType=INTEGER} ,
        	#{whetherReader,jdbcType=INTEGER} ,
        	#{whetherReply,jdbcType=INTEGER} ,
        	#{insertTime,jdbcType=DATE} 
        )
	</insert>
    
	<update id="update" parameterType="cn.mmbook.platform.model.manage.SiteMessage">
    <![CDATA[
        UPDATE tb_site_message_info SET
	        message_title_ = #{messageTitle,jdbcType=VARCHAR} ,
	        message_content_ = #{messageContent,jdbcType=VARCHAR} ,
	        reply_id_ = #{replyId,jdbcType=INTEGER} ,
	        message_user_ = #{messageUser,jdbcType=INTEGER} ,
	        message_type_ = #{messageType,jdbcType=INTEGER} ,
	        whether_reader_ = #{whetherReader,jdbcType=INTEGER} ,
	        whether_reply_ = #{whetherReply,jdbcType=INTEGER} ,
	        insert_time_ = #{insertTime,jdbcType=DATE} 
        WHERE 
	        id_ = #{id} 
    ]]>
	</update>

    <delete id="delete" parameterType="java.lang.Integer">
    <![CDATA[
        DELETE FROM tb_site_message_info WHERE
        id_ = #{id} 
    ]]>
    </delete>
    
    <select id="getById" parameterType="java.lang.Integer" resultMap="SiteMessageResult">
		SELECT <include refid="siteMessageColumns" />
	    <![CDATA[
		    FROM tb_site_message_info 
	        WHERE 
		        id_ = #{id} 
	    ]]>
	</select>
    <select id="findAll" resultMap="SiteMessageResult">
		SELECT <include refid="siteMessageColumns" />
	    <![CDATA[
		    FROM tb_site_message_info
	    ]]>
	</select>
	<sql id="siteMessageDynamicWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
	       <if test="@Ognl@isNotEmpty(id)">
				AND id_ = #{id}
			</if>
	       <if test="@Ognl@isNotEmpty(messageTitle)">
				AND message_title_ = #{messageTitle}
			</if>
	       <if test="@Ognl@isNotEmpty(messageContent)">
				AND message_content_ = #{messageContent}
			</if>
	       <if test="@Ognl@isNotEmpty(replyId)">
				AND reply_id_ = #{replyId}
			</if>
	       <if test="@Ognl@isNotEmpty(messageUser)">
				AND message_user_ = #{messageUser}
			</if>
	       <if test="@Ognl@isNotEmpty(messageType)">
				AND message_type_ = #{messageType}
			</if>
	       <if test="@Ognl@isNotEmpty(whetherReader)">
				AND whether_reader_ = #{whetherReader}
			</if>
	       <if test="@Ognl@isNotEmpty(whetherReply)">
				AND whether_reply_ = #{whetherReply}
			</if>
	       <if test="@Ognl@isNotEmpty(insertTime)">
				AND insert_time_ = #{insertTime}
			</if>
		</where>
	</sql>
		
    <select id="count" resultType="long">
        SELECT COUNT(1) FROM tb_site_message_info 
		<include refid="siteMessageDynamicWhere"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SiteMessageResult">
    	SELECT <include refid="siteMessageColumns" />
	    FROM tb_site_message_info 
		<include refid="siteMessageDynamicWhere"/>
			ORDER BY id_
    </select>


    <!--
    	多表关联分页查询
    	处理处理实现
    -->
    <select id="anytablelist" resultMap="SiteMessageResult">
    	SELECT <include refid="siteMessageColumns" />
	    FROM tb_site_message_info
    </select>
		
    <select id="anytablecount" resultType="long">
        SELECT COUNT(1) FROM tb_site_message_info 
		<include refid="siteMessageDynamicWhere"/>    
    </select>
	
	<!-- getList -->
	<select id="getSiteMessageList" resultMap="SiteMessageResult">
	  SELECT <include refid="siteMessageColumns" />
	  FROM tb_site_message_info
	  <include refid="siteMessageDynamicWhere"/>
	</select>


</mapper>
