<html>
<body>
<h3>Hi ${name}, welcome to join ${webId}!</h3>
<div>
<table border='0' cellpadding='0' cellspacing='0'>
<tr>
<td>
Your new account has been created.
</td>
</tr>
<tr>
<td>					   
<br/><br/>
</td>
</tr>
<tr>
<td>
<a href='http://www.${webId}'>http://www.${webId}</a>.
</td>
</tr>
</table>
</div>
</body>
</html>